[2020-10-02 11:07] aditya109 opened #1 "Display Prime Array Elements (Java)"
Problem : Write a Program to store 20 numbers in an array and display only those numbers which are prime.

[2020-10-02 11:10] rishirajpurohit commented on #1
Hello @aditya109 I would like to work on this issue, does the solution/program has to be in a specific language ?

[2020-10-02 11:24] Hinal-Srivastava commented on #1
Hi @aditya109,
I can contribute in Python. Should I?

[2020-10-02 11:25] Himith commented on #1
Hey i want to work on this Please assign this to me>>
in python,c++,c or python

[2020-10-02 11:26] aryankr2005 commented on #1
Hello @aditya109 I am a keen programmer who would like to work on this issue. This is my first time exploring GitHub and open source repositories. Can I work on the java portion?

[2020-10-02 11:32] aditya109 commented on #1
Hello guys, I did not expect these many people interested many contributions. If you guys can hold on, I have to get this repo and add many more issues for you. Thanks for your patience.

[2020-10-02 11:36] Hinal-Srivastava commented on #1
Its HacktoberFest. Contributors are making the best of it😂👍

[2020-10-02 11:53] rishirajpurohit commented on #1
Oh I see it was already assigned, best of luck @aryankr2005 , I'll remove my PR

[2020-10-02 11:55] rishirajpurohit commented on #1
@aditya109 you can create a issue to add more problems 😉

[2020-10-02 12:04] rishirajpurohit opened #3 "Add 10 beginner level Problems"
Because of the increased interest in the repository, we want to add beginner level problems.

To successfully close this, you need to add 10 problem statements following the pattern already used in repository.

[2020-10-02 12:06] rishirajpurohit commented on #3
@aditya109 can you assign this one to me.

[2020-10-02 12:29] aditya109 commented on #3
@rishirajpurohit Thanks !

[2020-10-02 12:44] aditya109 opened #4 "Display Prime Array Elements (Python)"
Problem : Write a Program to store 20 numbers in an array and display only those numbers which are prime.

[2020-10-02 12:45] aditya109 opened #5 "Display Prime Array Elements (Golang)"
Problem : Write a Program to store 20 numbers in an array and display only those numbers which are prime.

[2020-10-02 12:45] aditya109 opened #6 "Display Prime Array Elements (C++)"
Problem : Write a Program to store 20 numbers in an array and display only those numbers which are prime.

[2020-10-02 12:47] aditya109 commented on #1
Would you like to work on this issue #4 ?

[2020-10-02 12:48] aditya109 commented on #1
Would you like to work on this issue #6 ?

[2020-10-02 12:50] Hinal-Srivastava commented on #4
I'll do it👍

[2020-10-02 12:51] Hinal-Srivastava commented on #1
Sure!

[2020-10-02 12:52] dhavalmaniyar commented on #6
@aditya109 please assign this to me.

[2020-10-02 12:56] aditya109 commented on #4
@Hinal-Srivastava Ok then I am assigning this to you. Please consider starring the repo to encourage more contributions.

[2020-10-02 12:58] aditya109 commented on #3
@rishirajpurohit A humble request : please consider starring the repo to encourage more contributions.

[2020-10-02 13:19] rishirajpurohit commented on #3
Done, also, your readme looks great. Interested in adding it to a list of ReadMe files created by Pros? If yes, I'd greatly appreciate if you open a PR here : https://github.com/rishirajpurohit/ReadMePros

[2020-10-02 13:28] shubhamnag14 commented on #5
i'd like to solve this problem using python or c
so can i solve this

[2020-10-02 13:57] aditya109 commented on #5
@shubhamnag14 I think Python Issue has already been assigned. If you want to do it in C, please take a look at the structure of the repo for Program1. I will create an issue for the same.

[2020-10-02 14:24] Hinal-Srivastava commented on #4
You haven't assigned it to me yet however, I'll proceed on my end.

[2020-10-02 15:11] #1 closed

[2020-10-02 15:12] arvind0009 commented on #6
@aditya109 please assign this to me..

[2020-10-02 16:45] Adithiyan commented on #5
Please assign me this. I would like to do it in java

[2020-10-02 17:31] aditya109 commented on #4
Ohh I apologise ! I self-assigned this issue instead of assigning it you 😞

[2020-10-02 17:32] aditya109 commented on #4
Yea sure.

[2020-10-02 17:38] Hinal-Srivastava commented on #4
Its alright 🙌🏼

[2020-10-02 17:47] Hinal-Srivastava commented on #3
@aditya109  can I add a few pattern problems?

[2020-10-02 19:52] shubhamnag14 commented on #5
i will do in c..and submit by tomorrow

[2020-10-02 20:23] ParthPali commented on #5
I can do this in Golang. Please assign me.

[2020-10-02 20:30] ParthPali commented on #5
@aditya109  I can do this in Golang. Please assign me

[2020-10-03 04:26] jyotiGambhir commented on #3
I would lke to add beginner level problems in CPP. Please assign it to me.

[2020-10-03 13:30] rishirajpurohit commented on #3
Hey there, sorry I didn't get a chance to work on this, let's assign it to someone else from above

[2020-10-03 13:36] aditya109 opened #19 "Display Highest Runs Scored (Java)"
Write a Program to store runs scored by 11 cricketers of Premier League along with their names. Now display the name of highest scoring cricketer who has made the highest score along with runs.

[2020-10-03 13:36] aryankr2005 commented on #19
Hello @aditya109 I am a keen programmer who would like to work on this issue. This is my first time exploring GitHub and open source repositories. Can I work on the java portion?

[2020-10-03 13:37] Hinal-Srivastava commented on #3
I'm still up for this👍

[2020-10-03 13:37] aditya109 commented on #19
Sure @aryankr2005 Why not? Please go ahead. I see you have just started on Git. Have fun #hacking.

[2020-10-03 13:38] aryankr2005 commented on #19
Thank you.

[2020-10-03 13:52] #19 closed

[2020-10-03 13:57] #4 closed

[2020-10-03 13:58] aditya109 commented on #5
Hi @ParthPali I have assigned this issue to you as well. Please consider starring the repo to encourage more contributions.

[2020-10-03 13:59] aditya109 commented on #5
Hi @thetkpark I see that you completed the issue. Please consider starring the repo to encourage more contributions.

[2020-10-03 14:03] aditya109 commented on #3
Sure @Hinal-Srivastava please go ahead and create issue relative to them. I will assign labels and milestone to the same.

[2020-10-03 14:05] aditya109 commented on #3
Hi @jyotiGambhir Ok then I am assigning this to you as well. Please consider starring the repo to encourage more contributions.

[2020-10-03 14:12] aditya109 commented on #3
Sure why not ! I'll check the repo out.

[2020-10-03 16:39] ParthPali commented on #5
Thanks, @aditya109 I have starred the repo.

[2020-10-04 03:57] aditya109 opened #21 "Count The Words Starting With Vowels (Java)"
Write a Program to input a sentence and count and print the number of words starting with a vowel.

[2020-10-04 03:57] aryankr2005 commented on #21
Hello @aditya109 I am a keen programmer who would like to work on this issue. This is my first time exploring GitHub and open source repositories. Can I work on the java portion?

[2020-10-04 03:58] aditya109 commented on #21
Hi @aryankr2005. Ok then I have assigned this issue to you. Have fun #hacking!

[2020-10-04 04:00] #21 closed

[2020-10-04 04:04] aditya109 opened #23 "Count The Words Starting With Vowels (C++)"
Write a Program to input a sentence and count and print the number of words starting with a vowel.

[2020-10-04 04:05] aditya109 opened #24 "Count The Words Starting With Vowels (Python)"
Write a Program to input a sentence and count and print the number of words starting with a vowel.

[2020-10-04 04:06] aditya109 opened #25 "Count The Words Starting With Vowels (Golang)"
Write a Program to input a sentence and count and print the number of words starting with a vowel.

[2020-10-04 04:06] mansiwagh05 commented on #24
Hi, I would like to work on this

[2020-10-04 04:06] aditya109 opened #26 "Display Highest Runs Scored (C++)"
Write a Program to store runs scored by 11 cricketers of Premier League along with their names. Now display the name of highest scoring cricketer who has made the highest score along with runs.

[2020-10-04 04:07] aditya109 opened #27 "Display Highest Runs Scored (Python)"
Write a Program to store runs scored by 11 cricketers of Premier League along with their names. Now display the name of highest scoring cricketer who has made the highest score along with runs.

[2020-10-04 04:08] aditya109 opened #28 "Display Highest Runs Scored (Golang)"
Write a Program to store runs scored by 11 cricketers of Premier League along with their names. Now display the name of highest scoring cricketer who has made the highest score along with runs.

[2020-10-04 04:09] #6 closed

[2020-10-04 04:09] #5 closed

[2020-10-04 04:58] dibakar95 commented on #23
@aditya109 I would like to take this issue.

[2020-10-04 05:43] aditya109 commented on #23
Hi @dibakar95 ! Sure please go ahead and resolve this issue. I will assign this issue to you. A humble request to star this repo to encourage further contributions.

[2020-10-04 05:44] aditya109 commented on #24
Hi @mansiwagh05 ! Sure please go ahead and resolve this issue. I will assign this issue to you. A humble request to star this repo to encourage further contributions.

[2020-10-04 05:45] sakshi-negi123 commented on #23
please assign this to me. I have the solution ready

[2020-10-04 05:53] sakshi-negi123 commented on #26
please assign it to me

[2020-10-04 06:02] #24 closed

[2020-10-04 06:09] alsam123 commented on #25
Hey, @aditya109 I am interested in doing it...could you please assign it to me?

[2020-10-04 06:10] mansiwagh05 commented on #27
Hi, I would like to work on this

[2020-10-04 06:11] alsam123 commented on #24
Hey, @aditya109 I am interested in doing it...could you please assign it to me?

[2020-10-04 06:18] NidhiNivedita6 commented on #23
Please assign me this.

[2020-10-04 08:08] gaurangisinha commented on #25
Hello, @aditya109 I am very keen on solving it, could you please assign it to me. I would be extremely grateful.

[2020-10-04 08:21] gaurangisinha commented on #27
Hello, @aditya109 I am very keen on solving it, could you please assign it to me. I would be grateful.

[2020-10-04 08:45] DiveshHariani commented on #27
Hi @aditya109, Can you please assign this task to me?

[2020-10-04 12:18] aditya109 commented on #27
Hi @mansiwagh05, I will assign this issue to you.

[2020-10-04 12:23] aditya109 commented on #27
@gaurangisinha I am sorry I can't this issue has already been claimed or merge your PR, but feel free to raise one and link this issue. I will approve your PR and tag it `hacktoberfest-accepted` which carries the same value and will counted in Hacktoberfest stats. Also a humble request could please star the repo, it helps in encouraging contributions.

[2020-10-04 12:24] aditya109 commented on #27
Hi @DiveshHariani, I am sorry I can't this issue has already been claimed or merge your PR, but feel free to raise one and link this issue. I will approve your PR and tag it `hacktoberfest-accepted` which carries the same value and will counted in Hacktoberfest stats. Also a humble request could please star the repo, it helps in encouraging contributions.

[2020-10-04 12:24] #27 closed

[2020-10-04 12:25] aditya109 commented on #26
Hi @sakshi-negi123 ! Sure please go ahead and resolve this issue. I will assign this issue to you. A humble request to star this repo to encourage further contributions.

[2020-10-04 12:57] mohitrathor98 commented on #26
Hi! Please assign it to me

[2020-10-04 13:12] aditya109 commented on #26
Hi @mohitrathor98 I have assigned this to you as well. A humble request to star this repo to encourage further contributions.

[2020-10-04 13:14] mohitrathor98 commented on #26
Sure

[2020-10-04 13:20] Tripathi-Alok commented on #28
Can you assign this to me?

[2020-10-04 13:21] Rishabrp99 commented on #25
hey @aditya109 this is rishab  can you please assign it to me ??  I would love to solve the problem and would be very grateful for the same.

[2020-10-04 13:23] namitmalasi opened #39 "Count Digits (Java)"
Hi @namitmalasi Could you open a relative issue for this please and link it here ? I will tag with `Hacktoberfest`.

_Originally posted by @aditya109 in https://github.com/aditya109/git-osp-for-beginners/pull/37#issuecomment-703249986_

[2020-10-04 14:28] deepsingh132 opened #40 "Added Grading Students Solution (Python)"
Please Assign it to me.

[2020-10-04 15:00] Rahul171201 commented on #26
pls assign it to me...I am new to github and searching for such repos to start !!

[2020-10-04 15:11] gaurangisinha commented on #26
Hello, @aditya109  could you please assign this to me? I would be grateful.

[2020-10-04 15:29] Avantikaa commented on #3
Do the problems covered across all the current 4 languages need to be the same?
Or for each language, we can contribute to the problem solutions independently?

[2020-10-04 16:55] aditya109 commented on #40
Hi @deepsingh132 ! Sure please go ahead and resolve this issue. I will assign this issue to you. A humble request to star this repo to encourage further contributions.

[2020-10-04 16:56] aditya109 commented on #40
Also please add a language in braces in your issue's tag. C++, Python, Java, Golang

[2020-10-04 17:01] aditya109 commented on #39
Hi @namitmalasi Please change the issue title to something sane and please add a description.

[2020-10-04 17:01] aditya109 commented on #39
Write a program to count the digits of the entered integer.

[2020-10-04 17:13] aditya109 commented on #28
Hi @Tripathi-Alok !  Sure please go ahead and resolve this issue. I will assign this issue to you. A humble request to star this repo to encourage further contributions.   Sure please go ahead and resolve this issue. I will assign this issue to you. A humble request to star this repo to encourage further contributions.

[2020-10-04 17:17] aditya109 commented on #26
Hi @Rahul171201 @gaurangisinha ! The thing is I can't this issue has already been claimed or merge your PR, but feel free to raise one and link this issue. I will approve your PR and tag it `hacktoberfest-accepted` which carries the same value and will counted in Hacktoberfest stats. Also a humble request could please star the repo, it helps in encouraging contributions.

[2020-10-04 18:06] Rahul171201 opened #45 "Different runs scored by the batsmen in a team in Cricket"
#28 Write a Program to store runs scored by 11 cricketers of Premier League along with their names. Now display the name of highest scoring cricketer who has made the highest score along with runs...

[2020-10-04 18:08] Sandeep228 opened #46 "Do this program Using recursion method"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-10-04 18:23] Sandeep228 opened #47 "Hi @Sandeep228 ! Would you please an issue for this PR and link it over here ? Also a humble request to star this repo to encourage further contributions."
Hi @Sandeep228 ! Would you please an issue for this PR and link it over here ? Also a humble request to star this repo to encourage further contributions.

_Originally posted by @aditya109 in https://github.com/aditya109/git-osp-for-beginners/pull/41#issuecomment-703286022_

[2020-10-04 18:25] #47 closed

[2020-10-04 18:27] #46 closed

[2020-10-04 18:27] Sandeep228 opened #49 "Tower Of Hanoi"
Implement this Program using the Recursion method.

[2020-10-04 18:36] Sandeep228 opened #50 "Tower of Hanoi using Recursion Method .."
Hi @Sandeep228 ! Would you please an issue for this PR and link it over here ? Also a humble request to star this repo to encourage further contributions.

_Originally posted by @aditya109 in https://github.com/aditya109/git-osp-for-beginners/pull/41#issuecomment-703286022_

[2020-10-04 18:58] Rahul171201 commented on #26
@aditya109 Thankyou for the recognition. I have done as said by you.

[2020-10-04 20:10] reejuBhattacharya commented on #45
Working on it in Java

[2020-10-04 20:52] vijay5158 opened #53 "Roots of the Quadratic Equation | Prime Numbers upto N | Python"
Program1 - which takes inputs of the coefficients of a Quadratic Equation and outputs roots of the equation.
Program2 - which takes input of a number N and outputs all Prime Numbers upto N.

[2020-10-04 20:52] vijay5158 commented on #53
Please assign this to me

[2020-10-05 03:11] Rahul171201 commented on #49
can I take this up?

[2020-10-05 04:21] Sandeep228 commented on #49
yes

[2020-10-05 05:09] Rahul171201 commented on #45
Ok go ahead!

[2020-10-05 05:22] mohdarif8299 commented on #39
Can you assign this to me?

[2020-10-05 06:14] wayne9499 opened #58 "Check given string is valid anagram or not? | CPP"
Given two strings say s and t, write a function to determine if t is an [anagram](https://en.wikipedia.org/wiki/Anagram) of s. | CPP
## Example
Input: s = "anagram", t = "nagaram"
Output: True
Input: s = "rat", t = "car"
Output: False

[2020-10-05 06:15] wayne9499 commented on #58
Please assign to me.

[2020-10-05 06:38] IMPrimph commented on #58
@wayne9499
Assign this to me, I will write the program and send

[2020-10-05 07:09] deepsingh132 commented on #40
I've made a pr please do check it out

[2020-10-05 08:15] wayne9499 opened #60 "Travelling Salesman Problem using Bit-Masking | CPP"
Given a list of cities and the distances between each pair of cities, what is the shortest possible route that visits each city exactly once and returns to the origin city?
[ [0, 20, 42, 25],
 [20, 0, 30, 34],
 [42, 30, 0, 10],
 [25, 34, 10, 0] ]
therefore length of shortest route is 85 (20 + 30 + 10 + 25)

[2020-10-05 08:15] wayne9499 commented on #60
Assign to me..

[2020-10-05 09:47] manasivaraiya commented on #50
which program? can i contribute?

[2020-10-05 10:16] riyagoel192 commented on #25
Do we have to submit the solution in Java language?

[2020-10-05 11:03] vishal1975 commented on #50
@Sandeep228  which programme

[2020-10-05 11:25] nikinegi1998 commented on #39
Please assign this to me

[2020-10-05 12:56] vrinda41198 commented on #25
Hello, Can I also please give this a try?

[2020-10-05 13:27] gayatripalkar commented on #39
Hi, Can you assign this to me.

[2020-10-05 13:29] gayatripalkar commented on #3
Hi, can I work on this, I will work on beginner level problems in Java, Cpp and Python

[2020-10-05 13:30] gayatripalkar commented on #58
Hi, can you assign this to me

[2020-10-05 13:42] xyther14 commented on #58
Can you assign me this problem? I have a unique implementation for this.

[2020-10-05 14:12] aditya109 commented on #50
Hi @Sandeep228 Thanks for opening the issue. Would you mind changing title to something more legible? Follow the [issue template](https://github.com/aditya109/git-osp-for-beginners/issues/new?assignees=&labels=Hacktoberfest%2C+good+first+issue&template=programming-question.md&title=%5BQuestion%5D).

[2020-10-05 14:13] aditya109 commented on #49
Hi @Sandeep228! Please add a description in this issue so that other contributors can understand and also change the title. Follow the [issue-template](https://github.com/aditya109/git-osp-for-beginners/issues/new?assignees=&labels=Hacktoberfest%2C+good+first+issue&template=programming-question.md&title=%5BQuestion%5D).

[2020-10-05 14:15] aditya109 commented on #60
Hi @wayne9499 ! Thanks for opening the issue and following the issue-template. I will assign this issue to you. Also, if you have not, consider starring this repo.

[2020-10-05 14:17] aditya109 commented on #58
Hi @wayne9499 ! Thanks for opening the issue and following the issue-template. I will assign this issue to you.

[2020-10-05 14:17] aditya109 commented on #58
Hi @gayatripalkar @IMPrimph @xyther14,  I am sorry I can't this issue has already been claimed or merge your PR, but feel free to raise one and link this issue. I will approve your PR and tag it `hacktoberfest-accepted` which carries the same value and will counted in Hacktoberfest stats. Also a humble request could please star the repo, it helps in encouraging contributions.

[2020-10-05 14:19] aditya109 commented on #53
Hi @vijay5158  ! Thanks for opening the issue and following the issue-template. I will assign this issue to you. Also, if you have not, consider starring this repo.

[2020-10-05 14:19] xyther14 commented on #58
Can I raise an issue for doing the same algorithm in Java?

[2020-10-05 14:27] Sandeep228 commented on #50
Tower Of Hanoi

[2020-10-05 14:30] Sandeep228 commented on #49
yes, I change the title and add a description...

[2020-10-05 14:49] vijay5158 commented on #53
@aditya109 Please review this pr (#54 ) which I created to solve this issue.

[2020-10-05 15:11] gaurangisinha commented on #50
Hello, @aditya109 Can I code this in C++? Please assign it to me.

[2020-10-05 15:12] Sayantan-world commented on #50
Can I code this in Java?

[2020-10-05 15:29] gayatripalkar opened #72 "Hi @gayatripalkar @IMPrimph @xyther14, I am sorry I can't this issue has already been claimed or merge your PR, but feel free to raise one and link this issue. I will approve your PR and tag it `hacktoberfest-accepted` which carries the same value and will counted in Hacktoberfest stats. Also a humble request could please star the repo, it helps in encouraging contributions."
Hi @gayatripalkar @IMPrimph @xyther14,  I am sorry I can't this issue has already been claimed or merge your PR, but feel free to raise one and link this issue. I will approve your PR and tag it `hacktoberfest-accepted` which carries the same value and will counted in Hacktoberfest stats. Also a humble request could please star the repo, it helps in encouraging contributions.

_Originally posted b

[2020-10-05 15:30] #72 closed

[2020-10-05 15:34] gayatripalkar commented on #58
So I am brand new to open source and don't know how to do that, can you guide me?

[2020-10-05 15:55] titichhm commented on #53
@aditya109 Hi there. Can I solve both the programs in C++? That would be really cool :)

[2020-10-05 16:19] rashrey2308 commented on #45
Can I implement one in cpp?

[2020-10-05 16:40] Rahul171201 commented on #45
Ok @rashrey2308 you can too give it a go!

[2020-10-05 16:59] neha07kumari commented on #39
Can i work on this issue? Please assign it to me. @aditya109

[2020-10-05 17:16] Akanksha810 commented on #39
Can you assign it to me?

[2020-10-05 18:02] Hackerbone opened #75 "Program to Check Whether a Number is Prime or Not | CPP"
Write a program to Check Whether the input number is Prime or Not.

Input: Enter a positive integer : 29
Output: 29 is a prime number.
Input: Enter a positive integer : 12
Output: 12 is not a prime number.

[2020-10-05 18:03] Hackerbone commented on #75
Assign me this question pls @aditya109

[2020-10-05 18:09] Hackerbone commented on #75
Sent a PR do review and merge if all seems good! Thanks again .. @aditya109

[2020-10-05 18:34] pasan04 opened #78 "Add the program to convert Celsius to Fahrenheit | Java"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-05 22:33] lilcoltsmith commented on #78
I would like to work on this issue. Could you please assign it to me?

[2020-10-06 01:08] kokum007 commented on #23
i would like to do a vowel search programme in c sharp assign it for me?

[2020-10-06 02:09] govindraj111 commented on #39
Hey @aditya109 could you assign this to me?
Thanks in advance!

[2020-10-06 03:20] xyther14 opened #83 "[Question] Find whether two strings are anagrams or not | JAVA"
Given two strings a and b. The task is to check whether two given strings are anagram of each other or not.

EXAMPLE
geeksforgeeks forgeeksgeeks
TRUE

allergy allergic
FALSE

I've a unique implementation for this question.

[2020-10-06 04:29] arnauvila33 commented on #25
Hello @aditya109 I'm interested in trying it! Could you assign it to me, please?

[2020-10-06 04:44] kajalrawal commented on #26
please assign this to me @aditya109

[2020-10-06 04:46] govindraj111 commented on #78
Hey @pasan04 . Look into the Pull request https://github.com/aditya109/git-osp-for-beginners/pull/84 raised for this problem.
Thanks in advance!

[2020-10-06 04:54] Kaustav96 commented on #83
Can you assign this to me?

[2020-10-06 05:03] ATRI2107 opened #89 "Counting Digits of Integer (Java) with Best Time Complexity"
Hey @aditya109 As mentioned in the [issue](https://github.com/aditya109/git-osp-for-beginners/issues/39) the program for the above given question had been done in a complecity of O(L) where L is the number of digits in that integer. I have opened a [PR](https://github.com/aditya109/git-osp-for-beginners/pull/88) where I have done the same question in a constant time complexity O(1). Please have a

[2020-10-06 05:11] Sandeep228 commented on #49
@aditya109  Done

[2020-10-06 07:25] shubhamnag14 commented on #75
please assign me this issue@aditya109

[2020-10-06 13:01] hryxna commented on #83
hello @xyther14 I would like to share my own solution with you and let me know after reviewing it 😄
feel free to assign it to me.

[2020-10-06 14:45] aditya109 opened #102 "[Java] Pass Or Fail"
Write a program to input an array of names of 20 students who PASSED with online examination. The program should ask for the name of a student and inform whether s/he has PASSED or FAILED. Repeat the process for checking the names till the user enter the name as exit.

[2020-10-06 14:46] aryankr2005 commented on #102
Hello @aditya109 I am a keen programmer who would like to work on this issue. This is my first time exploring GitHub and open source repositories. Can I work on the java portion?

[2020-10-06 14:49] aditya109 commented on #102
Hi @aryankr2005 ! Sure please go ahead and resolve this issue. I will assign this issue to you. A humble request to star this repo to encourage further contributions.

[2020-10-06 14:49] aryankr2005 commented on #102
Thank u for helping me for working in your repository....

[2020-10-06 14:50] #102 closed

[2020-10-06 15:04] aditya109 commented on #50
Hi @Sayantan-world @gaurangisinha @manasivaraiya ! Why not please go ahead and open relative issues for separate languages and follow the [issue-template](https://github.com/aditya109/git-osp-for-beginners/issues/new?assignees=&labels=Hacktoberfest%2C+good+first+issue&template=programming-question.md&title=%5BQuestion%5D) and raise your PRs.

[2020-10-06 15:12] lokgubhaju opened #104 "[Fibonacci series to be added]"
The Fibonacci sequence is a series of numbers where a number is the addition of the last two numbers, starting with 0, and 1.The Fibonacci Sequence: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55…Written as a rule, the expression is:Xn = Xn-1 + Xn-2

[2020-10-06 15:12] aditya109 commented on #3
Hi @Avantikaa ! So the idea is to open similar issues in such a way that people from varying programming background can participate. So it is good to have separate issue for similar problems and people can make it in their own ways in language they are most comfortable.

[2020-10-06 15:12] aditya109 commented on #3
Hi @gayatripalkar ! Sure you can. I will assign this issue to you. A humble request to star this repo to encourage further contributions.

[2020-10-06 15:12] kritisingh1 commented on #104
Hey can I take this up?

[2020-10-06 15:16] aditya109 commented on #23
Hi @NidhiNivedita6 !  ! Sure please go ahead and resolve this issue. I will assign this issue to you. A humble request to star this repo to encourage further contributions.

[2020-10-06 15:16] lokgubhaju commented on #104
You can do it and see which one comes efficient and fast.

[2020-10-06 15:19] aditya109 commented on #104
Hi @kritisingh !  I am sorry I can't this issue has already been claimed, but feel free to raise one and link this issue. I will approve your PR and tag it `hacktoberfest-accepted` which carries the same value and will counted in Hacktoberfest stats. Also a humble request could please star the repo, it helps in encouraging contributions.

[2020-10-06 15:20] aditya109 commented on #89
Hi @ATRI2107 could you please link your PR here ?

[2020-10-06 15:25] aditya109 commented on #75
Hi @shubhamnag14 ! I am sorry I can't this issue has already been claimed, but feel free to raise one and link this issue. I will approve your PR and tag it `hacktoberfest-accepted` which carries the same value and will counted in Hacktoberfest stats. Also a humble request could please star the repo, it helps in encouraging contributions.

[2020-10-06 15:34] lokgubhaju commented on #104
Is it fine now? @aditya109

[2020-10-06 16:57] aaksah1234 opened #110 "Split a String in Balanced Strings[Question]"
Balanced strings are those who have equal quantity of 'L' and 'R' characters.

Given a balanced string s split it in the maximum amount of balanced strings.

Return the maximum amount of splitted balanced strings.
#76
Example :

Input: s = "RLRRLLRLRL"
Output: 4
Explanation: s can be split into "RL", "RRLL", "RL", "RL", each substring contains same number of 'L' and 'R'.

[2020-10-06 17:00] aaksah1234 commented on #75
@aditya109,I am new to open source. As asked I have raised an issue & referenced it to this issue . Kindly accept my pr on that issue.

[2020-10-06 17:03] aaksah1234 commented on #110
Hello @aditya109 , I have raised this issue & I have done this in O(n) complexity.

[2020-10-06 18:55] aaksah1234 commented on #110
Kindly label this pr as hackatober-accepted

[2020-10-06 19:21] aaksah1234 opened #115 "Optimize the solution with O(sqrt(n)) complexity"
Hello @aditya109 , I wish to optimize the solution of issue #75 . Currently, it O(n/2) & it know how to do in O(sqrt(n)). I shall be glad if you assign it to me or mark my pr as hackatober-accepted.

[2020-10-06 19:27] LiorBitton commented on #83
String.reverse and then check using equals

[2020-10-06 20:55] aaksah1234 commented on #115
https://github.com/aditya109/git-osp-for-beginners/pull/116#issue-498828866
this is my pr

[2020-10-06 21:44] rajitnb commented on #83
Please assign this to me. I have an optimal solution.

[2020-10-07 11:00] govindraj111 commented on #78
@aditya109 Any update on this would be appreciated!

[2020-10-07 17:35] #23 closed

[2020-10-07 17:37] aditya109 commented on #25
Hi @vrinda41198 @arnauvila33 ! Sure please go ahead and resolve this issue. I will assign this issue to you. A humble request to star this repo to encourage further contributions.

[2020-10-07 17:39] aditya109 commented on #25
Hi @riyagoel192 ! It completely depends on you. Do it in whatever language you wish to choose. Just link the relative issue and raise a PR.

[2020-10-07 17:42] Aashrut opened #124 "Create a Program that checks if the given password is strong or not. | Python"
If the password is strong then it should return True and if the password is not strong enough then it should return False.
Here are the conditions for the password to be strong:
-  Its length is at least 8.
-  It contains at least one digit.
-  It contains at least one lowercase English character.
-  It contains at least one uppercase English character.
-  It contains at least one special characte

[2020-10-07 17:43] adityaharsh2001 opened #125 "Hotel management system project | CPP"
Provide an ample explanation of the question.
Give example if possible.

[2020-10-07 17:44] BhargaviChada commented on #124
Can I take this in Java?

[2020-10-07 17:48] EANimesha commented on #124
I can do this in python

[2020-10-07 17:49] Aashrut commented on #124
Hey @aditya109 , I have made this program in python. Can you check it out.

[2020-10-07 17:49] aditya109 commented on #124
Hey @Aashrut ! Would you mind linking your PR to this issue ?

[2020-10-07 17:50] aditya109 commented on #124
Hi @EANimesha, I am sorry I can't assign this issue has already been claimed, but feel free to raise one and link this issue. I will approve your PR and tag it `hacktoberfest-accepted` which carries the same value and will counted in Hacktoberfest stats. Also a humble request could please star the repo, it helps in encouraging contributions.

[2020-10-07 17:51] aditya109 opened #126 "Create a Program that checks if the given password is strong or not. | Java"
If the password is strong then it should return True and if the password is not strong enough then it should return False.
Here are the conditions for the password to be strong:

Its length is at least 8.
It contains at least one digit.
It contains at least one lowercase English character.
It contains at least one uppercase English character.
It contains at least one special character. The special

[2020-10-07 17:52] aditya109 opened #127 "Create a Program that checks if the given password is strong or not. | C++"
If the password is strong then it should return True and if the password is not strong enough then it should return False.
Here are the conditions for the password to be strong:

Its length is at least 8.
It contains at least one digit.
It contains at least one lowercase English character.
It contains at least one uppercase English character.
It contains at least one special character. The special

[2020-10-07 17:53] Aashrut commented on #124
hey, @aditya109 , I have linked this issue to my PR.

[2020-10-07 17:57] Aryan-dev007 commented on #127
I would love to contribute to this project!
Please assign it to me

[2020-10-07 18:01] aditya109 commented on #124
Yes it is merged.

[2020-10-07 18:04] Aashrut commented on #124
😁.Actually, I am just a newbie in making PR and issues.😅

[2020-10-07 18:05] EANimesha opened #128 "Create the Program to find the Factorial of a Number | Python"
Create a function that receives a non-negative integer and returns the factorial of that number.

Examples:

- fact(0) ➞ 1
- fact(1) ➞ 1
- fact(3) ➞ 3 * 2 * 1 = 6
- fact(6) ➞ 6 * 5 * 4 * 3 * 2 * 1 = 720

[2020-10-07 18:06] EANimesha commented on #128
I like to do this. Assign me

[2020-10-07 18:23] Aryan-dev007 commented on #127
#130

[2020-10-07 18:37] #53 closed

[2020-10-07 18:41] EANimesha commented on #126
I can solve this problem. Assign me

[2020-10-07 18:44] vijay5158 opened #131 "Roots of Quadratic Equation | Python"
Program - which takes inputs of the coefficients of a Quadratic Equation and outputs roots of the equation.
For ex- the format of quadratic eq is ' a*x^2 + b*x + c '
Program takes input the value of a,  b, c and gives out roots the eq.

[2020-10-07 18:49] chatRG commented on #131
I can try this!

[2020-10-07 18:52] vijay5158 opened #133 "Prime Numbers Upto N | Python"
Program  - which takes input of a number N and outputs all Prime Numbers upto N.

[2020-10-07 19:04] TineoC commented on #128
#134

[2020-10-07 19:05] TineoC commented on #128
#134

[2020-10-07 19:11] EANimesha commented on #128
Sorry. duplication found

[2020-10-07 19:11] #128 closed

[2020-10-07 19:25] aaksah1234 commented on #115
@aditya109 , I have changed the folder name to isPrime & given the solution to this problem inside that folder itself. Kindlu merge my pr. #135

[2020-10-07 20:47] shubhamnag14 commented on #133
can you assign me this issue..
i have solve the quadratic eqaution program

[2020-10-07 20:50] shubhamnag14 commented on #131
can i solve this issue..please assign me this issue

[2020-10-07 20:56] abhinavtiwary04 commented on #75
Please assign me this issue if not already resolved, @aditya109

[2020-10-08 05:37] asunawesker commented on #126
Hi @aditya109 could you assign this to me?

[2020-10-08 07:21] avishekchoudhary commented on #131
Please assign it to me.

[2020-10-08 09:22] bhaskarsantoshk opened #140 "2 bugs in Problem 2 of Java (DisplayHighestRunsScored)"
**Describe the bug**
1. Input taking is wrong. Scanner with Line and Integer are called in loop, for every integer input, next line will automatically be flushed
2. Though the output calculates maximum score right, outputs player as the last one always.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo
2. Run this program: https://github.com/aditya109/git-osp-for-beginners/blob/

[2020-10-08 09:24] IshaanSinghal1 commented on #126
Assign this to me

[2020-10-08 09:29] ridhikapila27 commented on #126
Kindly assign me this issue

[2020-10-08 13:35] TohDeKai commented on #133
Please assign me this issue! I'm interested to work on it. Thank you

[2020-10-08 13:36] TohDeKai commented on #131
Please assign me the issue, I'm interested to work on it. Thank you

[2020-10-08 15:01] #131 closed

[2020-10-08 15:01] #133 closed

[2020-10-08 15:03] #125 closed

[2020-10-08 15:57] kokum007 opened #145 "Count The total number of Words With Vowels in C# sharp"
write a programme in **C sharp** where it can Count The Words Starting With Vowels and show it to user.
 @aditya109

[2020-10-08 15:58] kokum007 commented on #145
@aditya109  Can you please assign this to me i have an answer prepared. thank you.

[2020-10-08 16:12] #140 closed

[2020-10-08 16:18] bhaskarsantoshk opened #147 "Bug in DisplayPrimeArrayElements.java"
**Describe the bug**
Input is always 0 - (int) Math.random()

**To Reproduce**
Steps to reproduce the behavior:
Self explanatory

**Expected behavior**
Input should be given by user or proper random generation

**Additional context**
Modularisation and Readability

[2020-10-08 16:19] aditya109 commented on #147
Hi @aditya109 ! Mind if I ask why did you assign this issue to me ?? 😁

[2020-10-08 16:20] #145 closed

[2020-10-08 16:20] bhaskarsantoshk commented on #147
@aditya109 sorry , it looks like you are default assignee. Please assign it to me , I am raising the pr.

[2020-10-08 16:21] #127 closed

[2020-10-08 16:22] aditya109 commented on #126
Hi @IshaanSinghal1 @EANimesha @asunawesker @ridhikapila27 ! Sure please go ahead and resolve this issue. I will assign this issue to you guys. A humble request to star this repo to encourage further contributions.

[2020-10-08 16:22] #124 closed

[2020-10-08 16:23] #115 closed

[2020-10-08 16:23] #110 closed

[2020-10-08 16:24] bhaskarsantoshk commented on #147
@aditya109 here is the PR: https://github.com/aditya109/git-osp-for-beginners/pull/149

[2020-10-08 16:24] #104 closed

[2020-10-08 16:24] #89 closed

[2020-10-08 16:25] #3 closed

[2020-10-08 16:26] #147 closed

[2020-10-08 16:28] #78 closed

[2020-10-08 16:29] aditya109 commented on #75
Hi @abhinavtiwary04 try opening a different issue altogether. Try opening something on a question you like.

[2020-10-08 16:35] aditya109 commented on #58
Sure so what you wanna do is,
Find a question you like. Open a issue on the same. Claim it for yourself(ask me to assign it you). Follow this [template](https://github.com/aditya109/git-osp-for-beginners/issues/new?assignees=&labels=Hacktoberfest%2C+good+first+issue&template=programming-question.md&title=%5BQuestion%5D). Clone the forked repo.  Raise a PR and link your issue. That's it ! Hope this

[2020-10-08 16:35] #58 closed

[2020-10-08 16:35] #49 closed

[2020-10-08 16:36] #50 closed

[2020-10-08 16:36] #45 closed

[2020-10-08 16:37] #28 closed

[2020-10-08 16:37] #26 closed

[2020-10-08 16:37] #40 closed

[2020-10-08 16:37] #60 closed

[2020-10-08 16:38] arpita2712 commented on #126
Hey, may I solve this ?

[2020-10-08 16:52] aditya109 opened #155 "Refactor Required URGENT !!"
The Repository has become a mess. Would any of the brave souls like the responsibility of cleaning the repository up?
The PR merge will be halted until this issue is closed.
Tasks to be done :

- [ ] The `Programming` directory must contain the following directories:
  - [ ] Java
  - [ ] Python
  - [ ] C++
  - [ ] C
  - [ ] C#
  - [ ] Javascript
  - [ ] Golang
- [ ] The `languages` directory shoul

[2020-10-08 17:01] abhikumar002 opened #159 "Classifying password and strength using ML in python"
![IMG-20201008-WA0032~2](https://user-images.githubusercontent.com/63952465/95490438-db6cc000-09b5-11eb-9856-091a91475d75.jpg)

![IMG-20201008-WA0031~2](https://user-images.githubusercontent.com/63952465/95490525-f6d7cb00-09b5-11eb-83ca-2460b655231f.jpg)

[2020-10-08 17:23] gayatripalkar commented on #58
Yes thanks

[2020-10-08 17:29] abhikumar002 commented on #159
# EDA Packages
import pandas as pd
import numpy as np
import random

# Machine Learning Packages
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

pswd_data = pd.read_csv("cleanpasswordlist.csv")

pswd_data.head()
pswd = np.

[2020-10-08 17:45] xloli20 commented on #155
Hello, I can work on this issue!

[2020-10-08 19:40] iSpy-u commented on #75
Can I do this in C, Plz assign me

[2020-10-09 02:14] aditya109 commented on #155
Hi @xloli20 ! You're are a life saver! Thanks for the rescue. I will assign this to you.

[2020-10-09 02:36] xloli20 commented on #155
no problem 👍

[2020-10-09 06:04] bhaskarsantoshk commented on #155
@aditya109 Could you assign me?

[2020-10-09 07:43] #155 closed

[2020-10-09 11:35] Hackerbone commented on #75
I am closing this issue since this program has already been done.
@aditya109

[2020-10-09 11:35] #75 closed

[2020-10-10 19:31] parthchainani commented on #83
i can do this in c/c++ if u assign it to me

[2020-10-13 06:33] hryxna commented on #83
Hello @aditya109, I'm currently implementing Luhn's algorithm to find valid credit-card no.
would it be ok if I add it to this repo?

[2020-10-14 04:40] #126 closed

[2020-10-14 04:59] aditya109 commented on #159
Hi @abhikumar002 ! Could you implement this in a python file as well.

[2020-10-14 05:04] #39 closed

[2020-10-14 05:06] aditya109 commented on #83
Sure @hryxna ! Please go ahead. Just follow the `contribution_guidelines.md`. And you should be okay.

[2020-10-14 05:06] aditya109 commented on #83
Hi @parthchainani ! Please go ahead and do so.

[2020-10-14 05:07] #83 closed

[2020-10-14 05:09] abhikumar002 commented on #159
@aditya109. Okk, I try my best. But I also add file in your directory in python basis .please read that file.

[2020-10-14 10:10] aditya109 commented on #159
Hi @abhikumar002 ! I left some comments on your PR. Would not mind merging the PR if addressed them. :)

[2020-10-14 12:49] hryxna opened #178 "Implementation of Luhn's Algorithm in any language"
## So What's Luhn's Algorithm 🤔
### Basically it checks whether a credit card is a valid one or not.
# **Luhn's Algorithm**

### NOTE:
#### Input should only be digits no alphabets or any special characters or whitespaces should be allowed.
#### For the mentioned cards it will check their first digits as well as the total no. of digits that are mentioned below :

<pre>
- MASTERCARD
  * First Digit

[2020-10-14 14:09] KRHero03 commented on #178
Hi, this seems interesting. Can I work on this?

[2020-10-14 19:01] cyenney commented on #178
Can I work on this in C#?

[2020-10-14 20:59] Ajordat commented on #178
I can try to work on this on Python.

[2020-10-15 01:49] momosetti commented on #178
I would make it using JavaScript, its possible.?

[2020-10-15 03:02] hryxna commented on #178
Yes sure @cyenney @Ajordat @momosetti go ahead implement.
A suggestion for you guys do add the comments/explanations about the program.
you guys can also check my code in java for reference 😄
[Luhn's Algorithm](https://github.com/hryxna/git-osp-for-beginners/tree/master/Programming/Java/Luhn'sAlgorithm)

Also, I would also assign this to you guys as per the language you would be implementing.

[2020-10-15 05:25] deep1112002 commented on #178
Can i work on this in C++??

[2020-10-15 06:47] hryxna commented on #178
Sure @deep1112002, go ahead 😄.

[2020-10-15 09:57] Ajordat commented on #178
Sure thing. I added the PR #181 as it adds the code for Python.

[2020-10-15 10:09] deep1112002 commented on #178
I added the pull request #185 for Luhn's algorithm in C++

[2020-10-15 14:02] momosetti commented on #178
@aditya109 @hryxna go check PR #182 - thank's in advance.

[2020-10-15 14:42] hryxna commented on #178
@Ajordat @momosetti @deep1112002 I have reviewed the code from my perspective and commented for necessary changes if required
kindly check it 😄.

[2020-10-15 16:08] hryxna commented on #178
@kanishq1 go ahead 😄.

[2020-10-15 16:37] maverickLez commented on #178
Hi, this seems interesting. Can I work on this?

[2020-10-15 17:08] hryxna commented on #178
Yeah sure @maverickLez, go ahead 😁.

[2020-10-15 17:15] hryxna commented on #178
Hey everyone I was having a doubt regarding my explanation that I have given on the issue
Should I directly add the one which I have made in [README.md](https://github.com/hryxna/Java-Algos/blob/master/LuhnsAlgo/README.md) or keep this one as it is?

[2020-10-15 18:18] maverickLez commented on #178
@hryxna will this PR be counted towards hacktoberfest 2020, as it is not labelled as "hacktoberfest-accepted"?

[2020-10-16 03:31] hryxna commented on #178
@maverickLez it will be counted until and unless we have labelled it after reviewing it thoroughly.
So first implement it make a PR and then sit back and let us review it 😄.

[2020-10-17 16:48] aditya109 commented on #178
Make a change in README.md or add clarification in the issue description itself.

[2020-10-17 17:10] aditya109 commented on #178
Hey @hryxna ! I see you are really interested in open source grooming. I really that. Would you like to become a collaborator in this repo. That way I could add you as a reviewer and you could provide your insights as a moderator. If you are, accept the invite I have sent to you.

[2020-10-17 17:26] hryxna commented on #178
Sure @aditya109 why not
I would be happy to become a collaborator 😄.
It would help me too as well
As I'm new to GitHub and git
Thanks for inviting me 😄.

[2020-10-17 17:47] hryxna commented on #178
I think I would change this one with the one I wrote it.
it would be much easier to understand.

If anyone doesn't understand then feel free to comment mentioning me along with the doubts 😄.

[2020-10-18 03:20] aditya109 commented on #178
Pleasure is all mine.

[2020-10-18 03:37] aditya109 opened #204 "Creation of a Discord Server"
To increase inter-contributor communication, would guys would a `Discord` server ?

Please share your views regarding this matter.

[2020-10-18 04:01] aditya109 opened #205 "Add Two Numbers"
Add Two Numbers
----------------------------------------------------------
You are given two non-empty linked lists representing two non-negative integers. The digits are stored in reverse order, and each of their nodes contains a single digit. Add the two numbers and return the sum as a linked list.

You may assume the two numbers do not contain any leading zero, except the number 0 itself.

----

[2020-10-18 04:02] aditya109 opened #206 "Reverse Integer"
Reverse Integer
----------------------------------------------------------------
Given a 32-bit signed integer, reverse digits of an integer.

**Note:**
Assume we are dealing with an environment that could only store integers within the 32-bit signed integer range: [−231,  231 − 1]. For the purpose of this problem, assume that your function returns 0 when the reversed integer overflows.

---------

[2020-10-18 04:04] aditya109 opened #207 "Longest Substring Without Repeating Characters"
Given a string s, find the length of the longest substring without repeating characters.

------------------------------------------------------

**Example 1:**

Input: s = "abcabcbb"
Output: 3
Explanation: The answer is "abc", with the length of 3.

**Example 2:**

Input: s = "bbbbb"
Output: 1
Explanation: The answer is "b", with the length of 1.

**Example 3:**

Input: s = "pwwkew"
Output: 3
Exp

[2020-10-18 04:06] aditya109 opened #208 "Median of Two Sorted Arrays"
Median of Two Sorted Arrays
------------------------------------------------

Given two sorted arrays **nums1** and **nums2** of size **m** and **n** respectively, return the **median** of the two sorted arrays.

Follow up: The overall run time complexity should be `O(log (m+n))`.

------------------------------------------------------
**Example 1:**

Input: nums1 = [1,3], nums2 = [2]
Output: 2.00

[2020-10-18 04:09] aditya109 opened #209 "Longest Palindromic Substring"
Longest Palindromic Substring
------------------------------------------------
Given a string s, return the longest palindromic substring in s.

**Example 1:**

Input: s = "babad"
Output: "bab"
Note: "aba" is also a valid answer.

**Example 2:**

Input: s = "cbbd"
Output: "bb"

**Example 3:**

Input: s = "a"
Output: "a"

**Example 4:**

Input: s = "ac"
Output: "a"

--------------------------------

[2020-10-18 04:12] aditya109 opened #210 "ZigZag Conversion"
ZigZag Conversion
----------------------------------------------------
The string `"PAYPALISHIRING"` is written in a zigzag pattern on a given number of rows like this: (you may want to display this pattern in a fixed font for better legibility)
[code]
And then read line by line: `"PAHNAPLSIIGYIR"`

Write the code that will take a string and make this conversion given a number of rows:
[code]
----

[2020-10-18 04:16] CodeAught commented on #206
I wanna work on it, assign it to me please.

[2020-10-18 04:57] hryxna commented on #204
Well having our own Discord server is a good idea @aditya109

But I'm not that much into discord and frankly speaking there might be times when people just would spam for PR and other things 😅.

If you find anyone who's ready to maintain a discord server then I'll gladly help you 😄.

Even I'm not sure about myself maintaining a discord as I'm already finding a job for myself
If I find one then I w

[2020-10-18 05:46] RishavHimmatramka commented on #206
I know the program in python. Pls assign me.

[2020-10-18 06:10] I3han commented on #210
Can I work on this

[2020-10-18 06:22] nikhil05-code commented on #207
Please assign it to me. I would like to work on it.

[2020-10-18 06:53] Hitesh77 commented on #205
Hi @aditya109,

I would like to work on this, can you please me the same?

Thanks

[2020-10-18 06:57] Hitesh77 commented on #208
Hi @aditya109,

I would like to work on this in java, can you please assign me this task?

Thanks

[2020-10-18 07:13] I3han commented on #210
@aditya109 can you check the PR, Thank you

[2020-10-18 07:16] rarchitgupta commented on #209
Can you assign this to me for C++

[2020-10-18 07:28] leli-1 commented on #208
Can you assign this to me for python language?

[2020-10-18 07:29] leli-1 commented on #209
Can you assign this to me for python language?

[2020-10-18 08:28] shree-create commented on #208
I want to work on this in C,can you assign this task to me?

[2020-10-18 08:31] asheemchhetri commented on #205
Making an attempt on this issue.

[2020-10-18 08:39] aditya109 commented on #205
Hi @Hitesh77 @asheemchhetri ! Please go ahead and work on this issue. I am assigning this to both of you. Just link this issue in your respective PR.

[2020-10-18 08:40] aditya109 commented on #206
Hi @CodeAught @RishavHimmatramka ! Please go ahead and work on this issue. I am assigning this to both of you. Just link this issue in your respective PR.

[2020-10-18 08:45] aditya109 commented on #207
Hi @nikhil05-code ! Please go on ahead and raise a PR for the same, linking this issue. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-18 08:46] aditya109 commented on #208
Hi @Hitesh77 @shree-create @leli-1 ! Please go on ahead and raise a PR for the same, linking this issue. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-18 08:47] aditya109 commented on #209
Hi @rarchitgupta @leli-1 ! Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you guys. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-18 08:48] aditya109 commented on #210
Hi @I3han ! Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-18 08:55] I3han commented on #210
@aditya109 I have raise a PR #215

[2020-10-18 11:29] damiansikora85 commented on #206
I will work with C#

[2020-10-18 11:40] harshitashankar commented on #209
Please assign to me for java.

[2020-10-18 11:55] Suraj1199 commented on #209
I can do in C++, C, Java, Python. Which ever is left pls assign it to me in that language.

[2020-10-18 11:58] Suraj1199 commented on #206
I can do the program in C, C++, Java, Python , which ever language is left pls assign it to me.

[2020-10-18 12:01] demonslayer99 commented on #207
assign me this for c#

[2020-10-18 12:02] demonslayer99 commented on #208
assign it to me for c#

[2020-10-18 12:39] hryxna commented on #208
@aditya109  I'll be doing it in JAVA.
Please assign this to me as well 😄.

[2020-10-18 13:41] Hitesh77 commented on #208
Hi @hryxna,

I am already working on this.
Can you please check out other issues on the list?

Thanks

[2020-10-18 13:49] hryxna commented on #208
Don't worry i won't raise a PR until and unless you do
Also i have already completed the program 😀.
If there's any doubt then go ahead and ask me.

[2020-10-18 15:46] 96RadhikaJadhav commented on #206
I would like to work on the issue..will write a python program..Could you please assign it to me?

[2020-10-18 19:09] ghanender-chauhan commented on #208
hi Assign this to me I will do in python

[2020-10-18 19:10] ghanender-chauhan commented on #206
Assign this to me i will do in python

[2020-10-18 21:38] asheemchhetri commented on #205
PR opened for python Solution with testcases: https://github.com/aditya109/git-osp-for-beginners/pull/225

[2020-10-19 02:33] aditya109 commented on #209
Hi @harshitashankar @Suraj1199 ! Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you guys as well. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-19 02:38] aditya109 commented on #204
I think so too. But there will folks who wanted to start some sort of discussion board. I wasn't really sure about it myself, so I opened the issue.
I wasn't really asking you to manage a Discord server 😅. I was just perusing along the lines. Anyways, all the best on your job hunt.
If it wouldn't be too much trouble @hryxna , could I ask if we could communicate over mail ?

[2020-10-19 02:42] aditya109 commented on #206
Hi @damiansikora85 @Suraj1199 @96RadhikaJadhav @ghanender-chauhan Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you guys as well. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-19 02:55] natzoz commented on #209
Hello @aditya109 may I be assigned to this if it is still open? I hope to try it using Java.

[2020-10-19 03:03] asheemchhetri commented on #205
PR updated! #225

[2020-10-19 03:13] hryxna commented on #204
I totally get your point about discord 👍🏻.
Sure you can reach out to me over mail
hk20726@gmail.com

[2020-10-19 03:14] hryxna commented on #204
Thanks btw @aditya109 😀
Let's see what job is waiting for me 😂

[2020-10-19 03:19] natzoz commented on #210
Hello @aditya109, may I try this using Java?

[2020-10-19 14:43] pardeep596 commented on #206
I can make this program in java and c++ please assign it to me

[2020-10-19 15:01] #206 closed

[2020-10-19 15:02] #205 closed

[2020-10-19 15:03] #25 closed

[2020-10-19 15:03] #159 closed

[2020-10-19 15:03] #178 closed

[2020-10-19 15:03] #207 closed

[2020-10-19 15:03] #208 closed

[2020-10-19 15:03] #209 closed

[2020-10-19 15:03] #210 closed

[2020-10-19 15:08] aditya109 opened #231 "Regular Expression Matching"
Regular Expression Matching
---------------------------------------------------
Given an input string (s) and a pattern (p), implement regular expression matching with support for '.' and '*' where:

'.' Matches any single character.​​​​
'*' Matches zero or more of the preceding element.
The matching should cover the entire input string (not partial).

---------------------------------------------

[2020-10-19 15:10] aditya109 opened #232 "Container With Most Water"
Container With Most Water
------------------------------------------------
Given n non-negative integers a1, a2, ..., an , where each represents a point at coordinate (i, ai). n vertical lines are drawn such that the two endpoints of the line i is at (i, ai) and (i, 0). Find two lines, which, together with the x-axis forms a container, such that the container contains the most water.

Notice that

[2020-10-19 15:13] aditya109 opened #233 "Integer to Roman"
Integer to Roman
-----------------------------------------------
Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.
[code]
For example, 2 is written as II in Roman numeral, just two one's added together. 12 is written as XII, which is simply X + II. The number 27 is written as XXVII, which is XX + V + II.

Roman numerals are usually written largest to smallest from

[2020-10-19 15:16] aditya109 commented on #204
Thanks hope you find it soon ! 😋

[2020-10-19 15:23] jayaganeshkumar commented on #233
Can I do this?

[2020-10-19 15:29] PardeepKumar816 opened #235 "Additon of digits of a given number"
Example :
input = 254
output = 11

[2020-10-19 15:31] pardeep596 commented on #235
can i make this program in java and c++

[2020-10-19 15:42] pardeep596 commented on #233
can i do this in java or c++

[2020-10-19 16:46] hryxna commented on #231
If I were to implement it in java it would be a couple of lines of code 😁. @aditya109

[2020-10-19 16:53] yoki-07 commented on #235
I want to contribute in this by providing code in C language @pardeep596 . Please assign me this.

[2020-10-19 17:29] damiansikora85 commented on #233
I will do c#

[2020-10-19 21:57] asadkhalid305 commented on #235
I can make this program in any language. Let me know and assign.

[2020-10-19 22:14] asadkhalid305 commented on #231
Can I submit this in JavaScript?

[2020-10-20 02:06] drstrange11 commented on #232
I would like to work on this issue

[2020-10-20 03:05] aditya109 commented on #235
Hi @asadkhalid305 @pardeep596 @yoki-07 ! Sure.
Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you guys. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-20 03:06] aditya109 commented on #233
Hi @jayaganeshkumar @pardeep596 @damiansikora85 !
Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you guys. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-20 03:06] aditya109 commented on #232
Hi @drstrange11 ! Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you guys. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-20 03:08] aditya109 commented on #231
I agree. I think we should leave issues like for VSC Freshers. 😁

[2020-10-20 03:08] aditya109 commented on #231
Hi @asadkhalid305 !
Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you guys. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-20 04:44] hrj-star opened #243 "[Question] Rotate array Left K times and Right K times."
**Problem : Given an array , return its left rotated and right rotated array by K positions.**

Sample Input : arr [] =1 2 3 4 5 ,   K = 5

Output :
Left Rotated array by K=5 times : 1 2 3 4 5
Right Rotated array by K =5 times : 1 2 3 4 5

Sample Input : arr [] =1 2 3 4 5 ,   K = 4

Left Rotated array by K=4 times : 5 1 2 3 4
Right Rotated array by K =4 times : 2 3 4 5 1

Will implement in Java.

[2020-10-20 06:29] pranatimittal commented on #243
Can you assign it to me for Java?

[2020-10-20 08:39] ravenblack24 commented on #235
I'll take JavaScript please

[2020-10-20 09:26] prinsusinghal commented on #243
Can you assign it to me for C++?

[2020-10-20 09:55] Ajordat commented on #243
Are you sure that's the expected output in that case? To me it looks like it would remain the same in that case, since k equals the length of the array.

Input:
array = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
k = 4

Output:
Left-rotated array K(4) times: [4, 5, 6, 7, 8, 9, 0, 1, 2, 3]
Right-rotated array K(4) times: [6, 7, 8, 9, 0, 1, 2, 3, 4, 5]

I will do this in Python.

[2020-10-20 10:12] hrj-star commented on #243
Yes , there was a typo mistake , the output was for  K=4 , have updated , many thanks !

[2020-10-20 12:04] prinsusinghal commented on #243
Please review my PR: rotate array left k times and right k times. #243 SOLUTION C++ #249

[2020-10-20 12:07] pardeep596 commented on #235
I have made this program in java
pull request #250

[2020-10-20 13:15] alexkimeu0 commented on #235
I would like to take this using JavaScript.

[2020-10-20 13:52] ShantiMow commented on #235
Can I solve it in java?

[2020-10-20 16:18] cyenney commented on #235
Can you assign to me in C#?

[2020-10-20 19:55] MaathavanJkr commented on #235
I have made python solution. #255

[2020-10-20 21:08] Ajordat commented on #243
Added PR #257 to solve this in Python.

[2020-10-21 03:01] pranatimittal commented on #243
Please check PR: #251 for Java Solution

[2020-10-21 03:25] hrj-star commented on #243
@aditya109  Dont we have to have to work on PRs after  you assign us the issue ?

[2020-10-21 03:31] PulsaraSandeepa commented on #235
Can I work on this in Java?

[2020-10-21 14:01] vat0599 commented on #232
Hi @aditya109 can you assign this to me?
I would like to implement using Python
Thanks

[2020-10-21 14:35] SaxenaKartik commented on #231
Shall I contribute in a working code in Python3?

[2020-10-21 14:37] SaxenaKartik commented on #233
I would like to work on this in Python3

[2020-10-21 14:49] hryxna commented on #231
sure @SaxenaKartik go ahead 😄.

[2020-10-21 14:54] SaxenaKartik commented on #231
Could you please add me to the assignees?
It feels ethical to work on an assigned issue
I will be sending forth a PR asap

[2020-10-21 15:33] SaxenaKartik commented on #231
I have written the code for the problem
I had one small concern though, based on the example outputs

**Example 3** must have the given input pattern as `p = .*`
**Example 4** must have the given input pattern as `p = c*a*b` OR `p = c*a.b`

If I am misunderstanding anything please let me know

[2020-10-21 19:23] aniket173000 commented on #235
HI can u please assign this issue to me . I can do it using C,C++,python,JAVA.

[2020-10-21 19:26] aniket173000 commented on #233
I would like to work on this . I can do this in C , C++ ,JAVA ,PYTHON .

[2020-10-22 12:57] aditya109 commented on #243
Hi @pranatimittal @prinsusinghal @Ajordat @hrj-star @cyenney ! Great work on your PR ! If you have not please consider starring this repo to encourage further contributions.

[2020-10-22 12:58] aditya109 commented on #243
Hi @hrj-star ! No it is not really compulsory. Please raise a PR whenever you see fit.

[2020-10-22 13:52] pranatimittal commented on #243
Thank you @aditya109. Will you please Merge the PR or add hacktoberfest-accepted lable?  It will then be counted as one of my PR

[2020-10-22 14:35] asadkhalid305 commented on #235
Hey!! can you please review and merge my [PR](https://github.com/aditya109/git-osp-for-beginners/pull/256)

[2020-10-23 09:37] prinsusinghal commented on #243
Yes @aditya109 do the same with my PR also

[2020-10-23 12:21] hryxna commented on #231
@SaxenaKartik
- As per your concern, I agree that the input pattern must be in the way you have shown for both  **Example 3** & **Example 4**
- Because it would be Zero or more time for ("*"), (".") means any character
   and one or more times for ("+").

[2020-10-23 12:24] SaxenaKartik commented on #231
Yes exactly
Thank you for clarifying it @hryxna
Could you assign me the issue for me to make a PR?

[2020-10-23 12:30] hryxna commented on #231
Sorry, I'm not the person who assigns contributors @SaxenaKartik 😅.
But I would advise you to raise and wait for the @aditya109 to review it.
Don't worry I'm aware that you have already mentioned this earlier, But wait and have patience 😄
and make your PR addressing the Issue.

[2020-10-23 14:16] shashan27 commented on #235
Hi..
Could u assign me this program, I can deliver it in any language.

[2020-10-24 10:23] Mandroid-42 opened #267 "To create a Zoo with animals"
I want to creat a zoo where you can add animals, the zoo have some method that then wold be tested in a testdriver. Want to do this in Java.

[2020-10-24 11:24] yjoshi opened #269 "Class names need to be modified, In java programs file names and class names are different."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-10-24 11:24] yjoshi opened #270 "Class names need to be modified, In java programs file names and class names are different. For"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-10-24 11:30] yjoshi opened #271 "Class names need to be modified, In java programs file names and class names are different."
For example in

- In TemperatureConversion  Folder: celciusToFarenheit file,class name was temperature!

- In CheckPrime folder file name is checkPrime but class name is CheckPrime,

- In PalindromeOrNot file class name is Palindrome!

many more....

- Naming convention needs to be followed.

[2020-10-24 11:32] #270 closed

[2020-10-24 11:32] yjoshi commented on #270
by mistake

[2020-10-24 11:32] #269 closed

[2020-10-24 11:49] yjoshi commented on #271
I have Resolved this in the recent PR #273

[2020-10-24 12:46] Yasas4D commented on #267
Hi, I would like to work on this.. Can you assign me, please

[2020-10-24 14:11] Yasas4D commented on #267
Hi I created the application..
![screenshot_17](https://user-images.githubusercontent.com/49401137/97083865-cd16d900-1630-11eb-83d0-362f3fdccaec.png)
![screenshot_18](https://user-images.githubusercontent.com/49401137/97083867-cf793300-1630-11eb-9051-ac75901f7ede.png)

This is the video demo of it.. Please accept the pull request and accept as a hacktomber answer.. Thank you
[zoo-.zip](https://git

[2020-10-24 17:22] harshbhagwani94 opened #275 "Roman_to_Integer"
Converting Roman Numerals to Integer.
We know Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.
Symbol       Value
I                  1
V                5
X                10
L                50
C               100
D               500
M              1000

Example:
1. Input     : III
   Output  : 3
2. Input     : IX
   Output  : 9
3. Input     : MCMXCIV
   Output  :

[2020-10-24 17:22] harshbhagwani94 commented on #275
Can someone assign this issue to me?

[2020-10-25 05:44] SaxenaKartik commented on #231
Hey! @hryxna @aditya109
Could someone review my PR #266 ?

[2020-10-25 05:58] hryxna commented on #231
Done check out the review 😄 @SaxenaKartik

[2020-10-25 06:54] sawyer1997 commented on #275
Would like to try.

[2020-10-25 08:02] nazuk27 opened #276 "Counting occurrence of each word (Python)"
You are given 'n' words. Some words may repeat. For each word, output its number of occurrences. The output order should correspond with the input order of appearance of the word. See the sample input/output for clarification.

**Constraints:**
The sum of the lengths of all the words do not exceed 10^6.
All the words are composed of lowercase English letters only.

**Input Format:**
The first line

[2020-10-25 08:02] nazuk27 commented on #276
@aditya109 Can you please assign this to me?

[2020-10-25 11:12] Ajordat commented on #275
I can take care of this in Python.

[2020-10-25 12:14] Archie4575 commented on #275
I'd have a go in C++, if you want.

[2020-10-25 12:30] Archie4575 opened #278 "Leibniz's formula for calculating pi"
The following formula is named after Gottfried Wilhelm von Leibniz, a prominent German polymath who lived from 1646-1716.

![Leibniz pattern](https://wikimedia.org/api/rest_v1/media/math/render/svg/fab3e3e4febf987b57159d81fd47995fb0af1240)

or

![Leibniz sigma](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRserFpj4mpKY4syeu8Tc4A8GLkN8r0RsApTjV6fUyQMiZwxil8)

This program will iterate ove

[2020-10-25 12:59] aditya109 commented on #276
Hi @nazuk27 ! Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-25 13:00] aditya109 commented on #275
Hi @Ajordat @Archie4575 @sawyer1997 @sawyer1997 @harshbhagwani94 ! Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you guys. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-25 13:01] aditya109 commented on #278
Hi @Archie4575 ! Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-25 13:02] aditya109 commented on #271
Hi @yjoshi ! Thanks for opening this issue. Since the issue is resolved by your PR, I'd close close it for now. Happy Hacking!

[2020-10-25 13:02] #271 closed

[2020-10-25 13:03] aditya109 commented on #267
Hi @Yasas4D @Mandroid-42 ! Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you guys. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-25 13:03] aditya109 commented on #204
Am closing this issue. 😁

[2020-10-25 13:03] #204 closed

[2020-10-25 13:05] aditya109 commented on #232
Hi @drstrange11 @vat0599 ! Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you guys. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-25 13:06] aditya109 commented on #233
Hi @SaxenaKartik @aniket173000 ! Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you guys. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-25 13:12] Archie4575 commented on #278
Yeah, sweet. Should I leave the thread open for those who might want to write it in another language? @aditya109

[2020-10-25 13:25] hryxna commented on #204
Cool 👍🏻

[2020-10-25 14:13] nazuk27 opened #281 "Modified Kaprekar Numbers (Python)"
A modified Kaprekar number is a positive whole number with a special property. If you square it, then split the number into two integers and sum those integers, you have the same value you started with.
For example, if **n(number)=5, d(digits)=1** then **n^2=25**. We split that into two strings and convert them back to integers 2 and 5. We test 2+5 = 7 but not equal to 5, so this is not a modified

[2020-10-25 14:14] nazuk27 commented on #281
@aditya109 Please assign this issue to me. Thanks!

[2020-10-25 14:27] gustavoplenamente commented on #278
I would like to add content to this issue in C, Java, Python and Javascript.

[2020-10-25 14:38] hryxna commented on #278
@aditya109 I would like to give it a try as well 😄.
@Archie4575 I have a doubt regarding the formula, So basically we have to implement the formula in a loop running "K" times, and then we have to check our ans for the approximation correct? 😅.
Correct me if I'm getting the wrong idea

[2020-10-25 14:40] hryxna commented on #278
we can also use recursion if I'm not wrong 🤔

[2020-10-25 14:43] Archie4575 commented on #278
@hryxna yeah just loop it. You can divide your answer by the actual Pi to get a percentage accuracy if you want. Also I’m not sure if using recursion would be advantageous and it also might run into a maximum recursion depth.

[2020-10-25 14:44] Archie4575 commented on #278
@gustavoplenamente yeah go ahead. Don’t worry about a version standard.

[2020-10-25 14:44] gustavoplenamente commented on #278
Yeah, recursion would add space complexity to the solution.

[2020-10-25 14:56] hryxna commented on #278
Don't worry @Archie4575  & @gustavoplenamente  I won't just directly go for recursion though 😬.
Because even I know it may cause an error for higher inputs so Best Case Scenario is a loop and run-time complexity would be O(n) in that case 😁

[2020-10-25 15:02] nazuk27 opened #283 "Reverse a doubly linked list (Python)"
Given a pointer to the **_head_** node of a doubly linked list, reverse the order of the nodes in the list and display the reversed Linked List.

**Input Format:**
The first line contains an integer **_'t'_**, the number of test cases.
Each test case is of the following format:

**Output Format:**
Print the reversed doubly linked list.

**Sample Input:**
1
4
1
2
3
4

**Sample Output:**
4 3 2 1

[2020-10-25 15:02] nazuk27 commented on #283
@aditya109 Can you please assign this to me? Thanks!

[2020-10-25 17:15] aniket173000 commented on #233
I have made a PR so please review it and merge it.

[2020-10-25 22:03] vat0599 commented on #232
@aditya109 , the python soln already exists in ur repo
@drstrange11 already gave a solution
I think you can close this issue

[2020-10-26 04:44] aditya109 commented on #283
Hi @nazuk27 ! Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-26 04:44] aditya109 commented on #281
Hi @nazuk27 ! Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-26 10:55] sawyer1997 commented on #275
Hi @aditya109 , please consider reviewing the PR and merging the same.

[2020-10-26 19:16] MalEl-94 commented on #283
@nazuk27  Can you please assign this to me. I'd like to attempt this in Java.

[2020-10-27 03:08] ghanender-chauhan commented on #235
hii @PardeepKumar816  please assign me this i will do in python

[2020-10-27 14:44] ankitramtriya commented on #233
I would like to do this in Java. Can you please assign it to me.

[2020-10-28 03:41] harshbhagwani94 opened #309 "Maximum Gap"
Given an unsorted array, find the maximum difference between the successive elements in its sorted form.

Return 0 if the array contains less than 2 elements.

Example 1:

Input: [3,6,9,1]
Output: 3
Explanation: The sorted form of the array is [1,3,6,9], either
             (3,6) or (6,9) has the maximum difference 3.

Example 2:

Input: [10]
Output: 0
Explanation: The array contains less than 2 e

[2020-10-28 03:42] harshbhagwani94 commented on #309
@aditya109 Can you assign this issue to me? I want to  do this in C++

[2020-10-28 03:47] hryxna commented on #283
I already have implemented this as well @aditya109 & @MalEl-94 in JAVA 😁.

[2020-10-28 05:12] vikrantkode commented on #309
can you assign this issue to me , i want to do it in java

[2020-10-28 05:13] sawyer1997 commented on #309
Hi @aditya109,  I am up for python and Golang.

[2020-10-28 07:36] Sumit2399 commented on #309
Hi, I would love to work on the issue because it would be a good practice for DSA.

[2020-10-28 12:34] farFromShallow101 commented on #309
Hi, I really want to take this issue as I am a total newbie in open source. I will contribute in C++ language.

[2020-10-28 12:38] aditya109 commented on #309
Hi @sawyer1997 @harshbhagwani94 @vikrantkode @Sumit2399 @farFromShallow101 ! Please go on ahead and raise a PR for the same, linking this issue. I am assigning this issue to you guys. Please consider starring the repo, if you have not already to encourage further contributions.

[2020-10-28 12:39] Sumit2399 commented on #309
@aditya109 already made a PR request.Hoping you will merge it soon.

[2020-10-28 12:47] #231 closed

[2020-10-28 12:47] #232 closed

[2020-10-28 12:47] #233 closed

[2020-10-28 12:47] #235 closed

[2020-10-28 12:47] #243 closed

[2020-10-28 12:47] #267 closed

[2020-10-28 12:47] #275 closed

[2020-10-28 12:48] Sumit2399 commented on #275
Hi,@aditya109.Can I work on the issue With Java.Looking forward to the reply.

[2020-10-28 13:32] gaurisharma360 commented on #309
#312 made a c program regarding the above problem . Kindly consider.

[2020-10-28 16:34] 0ChanAk commented on #309
Hi I want to solve this in PHP and apex. Please assign it to me. thanks.

[2020-10-28 17:24] MalEl-94 commented on #309
Hi, i'd like to try this in Java.

[2020-10-28 20:14] vijaykrishna536 commented on #309
Hi @aditya109
#325 made programme in javascript for the same
Hope to get it reviewed soon

[2020-10-29 03:42] manralhemant10 commented on #309
can you assign this issue to me, I would like to contribute in c++

[2020-10-29 04:25] harshbhagwani94 commented on #283
@aditya109 can you assign this issue to me as well? I want to do this in C++.

[2020-10-29 13:30] ltsaiete commented on #309
Hi @aditya109 , can assign this issue to me?
I would like to do it in JavaScript.

[2020-10-29 17:57] prakharpande opened #339 "Longest Substring Without Repeating Characters(C++)"
Problem Statement:
Given a string s, find the length of the longest substring without repeating characters.

Constraints:
0 <= s.length <= 5 * 104
s consists of English letters, digits, symbols and spaces.

Example 1:
Input: s = "abcabcbb"
Output: 3
Explanation: The answer is "abc", with the length of 3.

Input: s = "aaaaa"
Output: 1
Explanation: The answer is "b", with a length of 1.

[2020-10-29 17:57] prakharpande commented on #339
Please assign this issue to me. I will work on this in c++.

[2020-10-29 18:01] pratyush-patwa commented on #339
Hey @prakharpande could you please assign this issue to me. I will work on this in Java.

[2020-10-29 18:06] pratyush-patwa opened #340 "[Dutch National Flag]"
We have an array consisting of  only 0, 1 & 2. We have to sort the array in the linear time complexity.

Example:
Input array = [  0, 2, 2, 1, 2, 0, 1, 1 ]
Output  =  [0, 0, 1, 1, 1, 2, 2, 2 ]

[2020-10-29 18:10] pratyush-patwa commented on #309
Hi @aditya109  , could you please assign this issue to me?
I would like to do this in Java with optimal Solution

[2020-10-29 18:13] Sumit2399 commented on #340
Hi @pratyush-patwa , can I work on the issue?

[2020-10-29 19:04] harshbhagwani94 commented on #309
@farFromShallow101 I already raised the solution to this since morning

[2020-10-29 23:31] purva-saxena commented on #283
i would like to solve this issue!
can you please assign it to me

[2020-10-30 03:36] phast184 commented on #340
Hi I would like to work on this

[2020-10-30 05:19] luhcasgabriel commented on #339
pode atribuir esse problema para mim ? vou fazer em JS

[2020-10-30 06:54] PolarBear-289 commented on #309
can u assign this issue to me, I would like to do t in c++

[2020-10-30 07:50] 420-Madhav opened #350 "Write a program to take a number as input from user and check if it is an Armstrong number. An Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers."
Can you please assign this issue to me?

[2020-10-30 07:51] #350 closed

[2020-10-30 07:52] 420-Madhav opened #351 "To check if a number is an Armstrong number"
An Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are  Armstrong numbers.

[2020-10-30 07:53] 420-Madhav commented on #351
Can you please assign this issue to me?

[2020-10-30 07:54] 420-Madhav opened #352 "To check if a number is a pallindrome"
A Pallindrome number is a number which is equal to its reverse.
Eg : 454, 1, 13531, 707

[2020-10-30 07:55] 420-Madhav commented on #352
Can you please assign this issue to me

[2020-10-30 08:13] 420-Madhav opened #355 "Convert a decimal [Question]"
Provide an ample explanation of the question.
Give example if possible.

[2020-10-30 08:13] #355 closed

[2020-10-30 08:13] 420-Madhav opened #356 "Convert a decimal number to its binary equivalent."
Provide a solution for this in C++

[2020-10-30 08:14] purva-saxena commented on #278
can you please assign this task to me??

[2020-10-30 08:21] RohanTheProgrammer commented on #356
I want to work on this. Please assign it to me

[2020-10-30 08:31] RohanTheProgrammer commented on #356
Can you specify that should that the program have to convert only integers or decimal numbers too

[2020-10-30 08:36] 420-Madhav commented on #356
We only talk of integers when it comes to conversion from one number system to another @RohanTheProgrammer

[2020-10-30 08:41] RohanTheProgrammer commented on #356
I can create this program

Please assign it to me @420-Madhav

[2020-10-30 10:05] purva-saxena commented on #276
can you please assign this task to me?? or can anyone please assign this task to me?

[2020-10-30 10:29] Utkarsh299-tech commented on #309
Hi, @aditya109 I would like to solve this in Python in a linear time/space. Could you please assign this issue to me?

[2020-10-30 11:57] tushar14041 commented on #309
Hi, @aditya109  can you assign this to me, I will solve this in C language

[2020-10-30 12:18] rickben opened #361 "Longest Palindromic Subsequence"
I want to solve the problem of finding the Longest Palindromic Subsequence of a string.
Please assign this to me.

[2020-10-30 12:21] #361 closed

[2020-10-30 13:42] laasyasree commented on #352
Can I work on this?

[2020-10-30 14:00] DilshanDeAlmeida commented on #309
hi @aditya109 assign me to this issue. I have implemented a working in python.

[2020-10-30 14:11] ViKrAm-Bais commented on #356
@aditya109 could you assign this to me, I have an solution for this ?

[2020-10-30 15:55] Mahima7120 commented on #352
Reverse and compare

[2020-10-30 16:58] DilshanDeAlmeida commented on #351
hi @420-Madhav  assign me to this issue. I have implemented a working in python.

[2020-10-30 18:06] tanishq-1011 commented on #309
hi... kindly assign me.. i have working code in python

[2020-10-30 18:39] SauravBaba commented on #351
@420-Madhav assign to me, I done it

[2020-10-30 18:44] trishitapingolia commented on #309
@aditya109 can you plz review my pr??

[2020-10-30 18:57] subhadeep-123 commented on #352
can i solve this issue

[2020-10-30 20:35] calingeorgeadrian commented on #309
Can you please assign me to this issue? I want to do it in C#.

[2020-10-30 21:03] s-ekam opened #371 "[Question] Check if a queue can be sorted into another queue using a stack"
Given a Queue consisting of first n natural numbers (in random order). The task is to check whether the given Queue elements can be arranged in increasing order in another Queue using a stack. The operation allowed are:
1. Push and pop elements from the stack
2. Pop from the given Queue.
3. Push in the another Queue.

Example:
Input : Queue[] = { 5, 1, 2, 3, 4 }
Output : Yes

Input : Queue[] = { 5

[2020-10-30 21:04] s-ekam commented on #371
@aditya109 Can you assign this to me to solve?

[2020-10-30 21:09] #340 closed

[2020-10-30 21:18] pratyush-patwa opened #372 "Shuffle The Array"
Given the array nums consisting of 2n elements in the form `[x1,x2,...,xn,y1,y2,...,yn]`.

Return the array in the form `[x1,y1,x2,y2,...,xn,yn]`.

#### Example:

`Input: nums = [2,5,1,3,4,7], n = 3`
`Output: [2,3,5,4,1,7]`

Explanation: Since x1=2, x2=5, x3=1, y1=3, y2=4, y3=7 then the answer is [2,3,5,4,1,7].

[2020-10-30 22:35] sommano opened #375 "Two Sum"
Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

Example 3:

Input: nums = [3,3], target = 6
Output: [0,1]

[2020-10-30 23:16] damasravani19 opened #377 "Kadane's Algorithm"
Write an efficient program to find the sum of contiguous sub-array within a one-dimensional array of numbers which has the largest sum
Lets take the example:
    {-2, -3, 4, -1, -2, 1, 5, -3}
Answer 7

[2020-10-30 23:41] silvasobrinho commented on #352
can i work on this in C#?

[2020-10-31 00:51] felix-chin commented on #377
@damasravani19 I'd like to try this, can you please assign to me.

[2020-10-31 00:52] felix-chin commented on #375
@sommano I would like to attempt this, can you please assign to me.

[2020-10-31 06:03] DilshanDeAlmeida commented on #351
created a pull request for you to accept :)

[2020-10-31 07:09] damasravani19 opened #385 "Missing Element Using Binary search"
Given an array C of size N-1 and given that there are numbers from 1 to N with one element missing, the missing number is to be found Using Binary Search

Input:
The first line of input contains an integer T denoting the number of test cases. For each test case first line contains N(size of array). The subsequent line contains N-1 array elements.

Output:
Print the missing number in array.

Exampl

[2020-10-31 07:33] 0ChanAk opened #387 "[Rearrange an array with O(1) extra space]"
Given an array arr[] of size N where every element is in the range from 0 to n-1. Rearrange the given array so that arr[i] becomes arr[arr[i]] in O(1) extra space.

Input:
N = 5
arr[] = {4,0,2,1,3}
Output: 3 4 2 0 1
Explanation: arr[0] = 4 and arr[arr[0]]
= 3. Also, arr[1] = 0 and arr[arr[1]]
= 4 and so on. So, rearranging elements,
we get array as 3 4 2 0 1.

@aditya109  can I work on this?

[2020-10-31 07:58] codeRider686 commented on #387
plz assign me this issue

[2020-10-31 08:25] codeRider686 commented on #385
plz assign me

[2020-10-31 12:51] 96RadhikaJadhav commented on #375
I want to try this in python..Could you please assign it to me?

[2020-10-31 12:58] 96RadhikaJadhav commented on #372
Can I try this one in python?

[2020-10-31 12:59] 96RadhikaJadhav commented on #352
Can I do this in python?

[2020-10-31 13:00] 96RadhikaJadhav commented on #351
Can I do this in python?

[2020-10-31 14:27] rickben opened #390 "Valid triangle"
Given an array consists of non-negative integers, your task is to count the number of triplets chosen from the array that can make triangles if we take them as side lengths of a triangle.
I want to solve this issue in Java and Python, please assign this to me.

[2020-10-31 14:32] RatulDawar commented on #375
I would like to attempt it can you assign me(Java)

[2020-11-01 06:50] #390 closed

[2020-11-01 07:44] #276 closed

[2020-11-01 07:44] #278 closed

[2020-11-01 07:44] #281 closed

[2020-11-01 07:44] #283 closed

[2020-11-01 07:44] #309 closed

[2020-11-01 07:44] #339 closed

[2020-11-01 07:44] #351 closed

[2020-11-01 07:44] #352 closed

[2020-11-01 07:44] #356 closed

[2020-11-01 07:44] #371 closed

[2020-11-01 07:44] #372 closed

[2020-11-01 07:44] #375 closed

[2020-11-01 07:44] #377 closed

[2020-11-01 07:44] #385 closed

[2020-11-01 07:44] #387 closed

[2021-10-02 10:40] aditya109 opened #397 "Container With Most Water [C++ solution required]"
Given n non-negative integers a1, a2, ..., an , where each represents a point at coordinate (i, ai). n vertical lines are drawn such that the two endpoints of the line i is at (i, ai) and (i, 0). Find two lines, which, together with the x-axis forms a container, such that the container contains the most water.

Notice that you may not slant the container.

Example 1:

Input: height = [1,8,6,2,5,4,

[2021-10-02 10:42] aditya109 opened #398 "Container With Most Water [C solution required]"
Given n non-negative integers a1, a2, ..., an , where each represents a point at coordinate (i, ai). n vertical lines are drawn such that the two endpoints of the line i is at (i, ai) and (i, 0). Find two lines, which, together with the x-axis forms a container, such that the container contains the most water.

Notice that you may not slant the container.

Example 1:

Input: height = [1,8,6,2,5,4,

[2021-10-02 10:42] aditya109 opened #399 "Container With Most Water [Python solution required]"
Given n non-negative integers a1, a2, ..., an , where each represents a point at coordinate (i, ai). n vertical lines are drawn such that the two endpoints of the line i is at (i, ai) and (i, 0). Find two lines, which, together with the x-axis forms a container, such that the container contains the most water.

Notice that you may not slant the container.

Example 1:

Input: height = [1,8,6,2,5,4,

[2021-10-02 10:47] Stellar-X commented on #398
Can I be assigned this please? I can write the solution in C++.

[2021-10-02 10:48] Stellar-X commented on #397
Can I be assigned this please? I can provide the solution in C++.

[2021-10-02 10:59] gopheramit commented on #399
@aditya109 i would like to work on this

[2021-10-02 12:00] aditya109 commented on #399
Hi @gopheramit ! Happy to receive contribution such early. I have assigned this issue to you. Happy hacking !

[2021-10-02 12:01] aditya109 commented on #397
Hi @Stellar-X ! Happy to receive contribution such early. I have assigned this issue to you. Happy hacking !

[2021-10-02 12:16] aditya109 opened #401 "Add more language-specific issue templates."
**Describe the bug**
Add more language-specific issue templates.

[2021-10-02 12:17] #401 closed

[2021-10-02 13:17] iamanshulgit commented on #398
Hello, can you please assign this issue to me?

[2021-10-02 13:36] aditya109 opened #403 "Container With Most Water [Golang-Solution required]"
Given n non-negative integers a1, a2, ..., an , where each represents a point at coordinate (i, ai). n vertical lines are drawn such that the two endpoints of the line i is at (i, ai) and (i, 0). Find two lines, which, together with the x-axis forms a container, such that the container contains the most water.

Notice that you may not slant the container.

Example 1:

Input: height = [1,8,6,2,5,4,

[2021-10-02 13:37] aditya109 opened #404 "Add corresponding labels to the language-specific issue templates"
**Describe the bug**
Add corresponding labels to the language-specific issue templates

[2021-10-02 13:42] #404 closed

[2021-10-02 13:42] aditya109 opened #406 "Container With Most Water [Java-Solution required]"
Given n non-negative integers a1, a2, ..., an , where each represents a point at coordinate (i, ai). n vertical lines are drawn such that the two endpoints of the line i is at (i, ai) and (i, 0). Find two lines, which, together with the x-axis forms a container, such that the container contains the most water.

Notice that you may not slant the container.

Example 1:

Input: height = [1,8,6,2,5,4,

[2021-10-02 13:43] aditya109 opened #407 "Container With Most Water [Javascript-Solution required]"
Given n non-negative integers a1, a2, ..., an , where each represents a point at coordinate (i, ai). n vertical lines are drawn such that the two endpoints of the line i is at (i, ai) and (i, 0). Find two lines, which, together with the x-axis forms a container, such that the container contains the most water.

Notice that you may not slant the container.

Example 1:

Input: height = [1,8,6,2,5,4,

[2021-10-02 13:47] aditya109 opened #408 "Letter Combinations of a Phone Number [C#-Solution required]"
Given a string containing digits from `2-9` inclusive, return all possible letter combinations that the number could represent. Return the answer in **any order**.

A mapping of digit to letters (just like on the telephone buttons) is given below. Note that 1 does not map to any letters.

![img](https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Telephone-keypad2.svg/200px-Telephone-keypad2

[2021-10-02 13:47] aditya109 opened #409 "Letter Combinations of a Phone Number [C++-Solution required]"
Given a string containing digits from `2-9` inclusive, return all possible letter combinations that the number could represent. Return the answer in **any order**.

A mapping of digit to letters (just like on the telephone buttons) is given below. Note that 1 does not map to any letters.

![img](https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Telephone-keypad2.svg/200px-Telephone-keypad2

[2021-10-02 13:48] aditya109 opened #410 "Letter Combinations of a Phone Number [C-Solution required]"
Given a string containing digits from `2-9` inclusive, return all possible letter combinations that the number could represent. Return the answer in **any order**.

A mapping of digit to letters (just like on the telephone buttons) is given below. Note that 1 does not map to any letters.

![img](https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Telephone-keypad2.svg/200px-Telephone-keypad2

[2021-10-02 13:48] aditya109 opened #411 "Letter Combinations of a Phone Number [Golang-Solution required]"
Given a string containing digits from `2-9` inclusive, return all possible letter combinations that the number could represent. Return the answer in **any order**.

A mapping of digit to letters (just like on the telephone buttons) is given below. Note that 1 does not map to any letters.

![img](https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Telephone-keypad2.svg/200px-Telephone-keypad2

[2021-10-02 13:52] aditya109 opened #413 "Letter Combinations of a Phone Number [Golang-Solution required]"
Given a string containing digits from `2-9` inclusive, return all possible letter combinations that the number could represent. Return the answer in **any order**.

A mapping of digit to letters (just like on the telephone buttons) is given below. Note that 1 does not map to any letters.

![img](https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Telephone-keypad2.svg/200px-Telephone-keypad2

[2021-10-02 13:52] aditya109 opened #414 "Letter Combinations of a Phone Number [Java-Solution required]"
Given a string containing digits from `2-9` inclusive, return all possible letter combinations that the number could represent. Return the answer in **any order**.

A mapping of digit to letters (just like on the telephone buttons) is given below. Note that 1 does not map to any letters.

![img](https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Telephone-keypad2.svg/200px-Telephone-keypad2

[2021-10-02 13:53] aditya109 opened #415 "Letter Combinations of a Phone Number [Javascript-Solution required]"
Given a string containing digits from `2-9` inclusive, return all possible letter combinations that the number could represent. Return the answer in **any order**.

A mapping of digit to letters (just like on the telephone buttons) is given below. Note that 1 does not map to any letters.

![img](https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Telephone-keypad2.svg/200px-Telephone-keypad2

[2021-10-02 13:53] aditya109 opened #416 "Letter Combinations of a Phone Number [Python-Solution required]"
Given a string containing digits from `2-9` inclusive, return all possible letter combinations that the number could represent. Return the answer in **any order**.

A mapping of digit to letters (just like on the telephone buttons) is given below. Note that 1 does not map to any letters.

![img](https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Telephone-keypad2.svg/200px-Telephone-keypad2

[2021-10-02 13:55] arihantthriwe commented on #416
Please assign me :)
@aditya109

[2021-10-02 13:56] aditya109 opened #418 "Generate Parentheses [C#-Solution required]"
Given `n` pairs of parentheses, write a function to *generate all combinations of well-formed parentheses*.

**Example 1:**

[code]

**Example 2:**

[code]

**Constraints:**

- `1 <= n <= 8`

Reference: https://leetcode.com/problems/generate-parentheses/

[2021-10-02 13:57] aditya109 opened #419 "Generate Parentheses [C++-Solution required]"
Given `n` pairs of parentheses, write a function to *generate all combinations of well-formed parentheses*.

**Example 1:**

[code]

**Example 2:**

[code]

**Constraints:**

- `1 <= n <= 8`

Reference: https://leetcode.com/problems/generate-parentheses/

[2021-10-02 13:57] aditya109 opened #420 "Generate Parentheses [C-Solution required]"
Given `n` pairs of parentheses, write a function to *generate all combinations of well-formed parentheses*.

**Example 1:**

[code]

**Example 2:**

[code]

**Constraints:**

- `1 <= n <= 8`

Reference: https://leetcode.com/problems/generate-parentheses/

[2021-10-02 13:57] aditya109 opened #421 "Generate Parentheses [Golang-Solution required]"
Given `n` pairs of parentheses, write a function to *generate all combinations of well-formed parentheses*.

**Example 1:**

[code]

**Example 2:**

[code]

**Constraints:**

- `1 <= n <= 8`

Reference: https://leetcode.com/problems/generate-parentheses/

[2021-10-02 13:57] aditya109 opened #422 "Generate Parentheses [Java-Solution required]"
Given `n` pairs of parentheses, write a function to *generate all combinations of well-formed parentheses*.

**Example 1:**

[code]

**Example 2:**

[code]

**Constraints:**

- `1 <= n <= 8`

Reference: https://leetcode.com/problems/generate-parentheses/

[2021-10-02 13:57] aditya109 opened #423 "Generate Parentheses [Javascript-Solution required]"
Given `n` pairs of parentheses, write a function to *generate all combinations of well-formed parentheses*.

**Example 1:**

[code]

**Example 2:**

[code]

**Constraints:**

- `1 <= n <= 8`

Reference: https://leetcode.com/problems/generate-parentheses/

[2021-10-02 13:58] aditya109 opened #424 "Generate Parentheses [Python-Solution required]"
Given `n` pairs of parentheses, write a function to *generate all combinations of well-formed parentheses*.

**Example 1:**

[code]

**Example 2:**

[code]

**Constraints:**

- `1 <= n <= 8`

Reference: https://leetcode.com/problems/generate-parentheses/

[2021-10-02 13:59] aditya109 opened #425 "Combination Sum [C#-Solution required]"
Given an array of **distinct** integers `candidates` and a target integer `target`, return *a list of all **unique combinations** of* `candidates` *where the chosen numbers sum to* `target`*.* You may return the combinations in **any order**.

The **same** number may be chosen from `candidates` an **unlimited number of times**. Two combinations are unique if the frequency of at least one of the ch

[2021-10-02 13:59] aditya109 opened #426 "Combination Sum [C++-Solution required]"
Given an array of **distinct** integers `candidates` and a target integer `target`, return *a list of all **unique combinations** of* `candidates` *where the chosen numbers sum to* `target`*.* You may return the combinations in **any order**.

The **same** number may be chosen from `candidates` an **unlimited number of times**. Two combinations are unique if the frequency of at least one of the ch

[2021-10-02 14:00] aditya109 opened #427 "Combination Sum [C-Solution required]"
Given an array of **distinct** integers `candidates` and a target integer `target`, return *a list of all **unique combinations** of* `candidates` *where the chosen numbers sum to* `target`*.* You may return the combinations in **any order**.

The **same** number may be chosen from `candidates` an **unlimited number of times**. Two combinations are unique if the frequency of at least one of the ch

[2021-10-02 14:00] aditya109 opened #428 "Combination Sum [Golang-Solution required]"
Given an array of **distinct** integers `candidates` and a target integer `target`, return *a list of all **unique combinations** of* `candidates` *where the chosen numbers sum to* `target`*.* You may return the combinations in **any order**.

The **same** number may be chosen from `candidates` an **unlimited number of times**. Two combinations are unique if the frequency of at least one of the ch

[2021-10-02 14:00] aditya109 opened #429 "Combination Sum [Java-Solution required]"
Given an array of **distinct** integers `candidates` and a target integer `target`, return *a list of all **unique combinations** of* `candidates` *where the chosen numbers sum to* `target`*.* You may return the combinations in **any order**.

The **same** number may be chosen from `candidates` an **unlimited number of times**. Two combinations are unique if the frequency of at least one of the ch

[2021-10-02 14:00] aditya109 opened #430 "Combination Sum [Javascript-Solution required]"
Given an array of **distinct** integers `candidates` and a target integer `target`, return *a list of all **unique combinations** of* `candidates` *where the chosen numbers sum to* `target`*.* You may return the combinations in **any order**.

The **same** number may be chosen from `candidates` an **unlimited number of times**. Two combinations are unique if the frequency of at least one of the ch

[2021-10-02 14:00] aditya109 opened #431 "Combination Sum [Python-Solution required]"
Given an array of **distinct** integers `candidates` and a target integer `target`, return *a list of all **unique combinations** of* `candidates` *where the chosen numbers sum to* `target`*.* You may return the combinations in **any order**.

The **same** number may be chosen from `candidates` an **unlimited number of times**. Two combinations are unique if the frequency of at least one of the ch

[2021-10-02 14:06] aditya109 commented on #416
Hi @arihantthriwe ! Happy to receive contribution such early. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring the repository. It helps boost the repo popularity and guide more people t

[2021-10-02 14:08] aditya109 commented on #398
Hi @iamanshulgit ! Happy to receive contribution such early. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo p

[2021-10-02 14:10] dharshankumar2002 commented on #431
This issue seems easy to solve for me. Can I give pull request to this issue?
I am new to GitHub.

Thanks in advance!

[2021-10-02 14:11] shalearkane commented on #403
Could you assign this to me?

[2021-10-02 14:12] aditya109 commented on #431
Hi @dharshankumar2002 !
Happy to receive contribution such early. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the r

[2021-10-02 14:13] aditya109 commented on #403
Hi @shalearkane ! Happy to receive contribution such early. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo po

[2021-10-02 14:16] arihantthriwe commented on #416
Sure i will do the above mentioned things :)

[2021-10-02 14:25] hortiprajwal commented on #426
`
          class Solution {
                 public:

              vector<vector<int>>result;
              vector<int>current;

        void function(vector<int>& candidates,int target,int index)
        {
              if(target==0){
              result.push_back(current);
              return;
        }

    if(index==candidates.size() || target<0)return;

       current.push_back(candidates

[2021-10-02 14:57] HatimTai1 commented on #429
Sir please assign the issue to me.

[2021-10-02 15:05] Stellar-X commented on #397
@aditya109 , I have completed the solution for the problem in C++ and commented the code for easy explanation.
Can you specify where do I need to commit my code to in my branch? Like in some specific folder or in the master branch as it is.
Also, I have two solutions for the same problem present with me, one is O(n^2) and other is O(n). So, should I add only the most efficient one or both solution

[2021-10-02 15:14] aditya109 commented on #429
Hi @HatimTai1 ! Happy to receive contribution such early. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo popu

[2021-10-02 15:14] NisargChokshi commented on #430
@aditya109 I have Added the solution for the given problem of Combination Sum using JavaScript.
Please review the following PR and share your thoughts on the same.

[https://github.com/aditya109/git-osp-for-beginners/pull/435](https://github.com/aditya109/git-osp-for-beginners/pull/435)

[2021-10-02 15:14] aditya109 commented on #429
Hi @HatimTai1 ! Happy to receive contribution such early. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo popu

[2021-10-02 15:15] aditya109 commented on #429
Hi @HatimTai1 ! Happy to receive contribution such early. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo popu

[2021-10-02 15:17] aditya109 commented on #397
Hi @Stellar-X ! Just add the better one !
For info related to contribution, refer to [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md).
It has all the steps regarding the above.

[2021-10-02 15:22] aditya109 commented on #430
Hi @NisargChokshi ! Happy to receive contribution such early. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo

[2021-10-02 15:22] dharshankumar2002 commented on #431
@aditya109
Solved the issue and Made a pull request to you!
Do see my code when you are free and accept the pull request if you think it is worth doing

[2021-10-02 16:18] Stellar-X commented on #397
@aditya109 , I have created the pull request, so do please check it. Also, please provide the feedback if there is any issue or if something more is needed to be added.
Thank you for the opportunity !!

[2021-10-02 16:35] ItIsEntropy commented on #424
I can solve this issue. please assign it to me and I'll work on it tomorrow

[2021-10-02 17:11] tamal-kundu commented on #428
i can solve this issue ..can u plzz assign me?

[2021-10-02 17:17] tamal-kundu commented on #427
i can solve this issue.. i am a beginner with knowledge of c,c++,java and a bit of golang..can u assign me this issue?

[2021-10-02 17:19] tamal-kundu opened #440 "Please add the hactoberfest-accepted topic otherwise the participants' contributions will not be counted as as successful contribution in hactoberfest2021"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-02 17:21] tamal-kundu commented on #426
i can solve this issue ..can u plzz assign me?

[2021-10-02 17:22] tamal-kundu commented on #422
i can solve this issue ..can u plzz assign me?

[2021-10-02 17:22] tamal-kundu commented on #419
i can solve this issue ..can u plzz assign me?

[2021-10-02 18:05] pakosel commented on #418
Hi, could you assign this to me? Thanks,

[2021-10-02 18:08] pakosel commented on #425
Hi, can I take this one?

[2021-10-02 18:22] ayush523 commented on #426
Hi.I would like to work on this issue.

[2021-10-02 18:39] NisargChokshi commented on #423
@aditya109 Can you assign this to me?

[2021-10-02 18:48] NisargChokshi commented on #407
@aditya109 Can you please assign this to me?

[2021-10-02 20:10] sbaijal commented on #422
Please assign this issue to me @aditya109 ...
I am in my 5th semester and preparing these types of questions..
Will update the solution as fast as possible.

[2021-10-02 20:12] sbaijal commented on #414
Hi @aditya109
Please assign this issue to me

[2021-10-02 20:14] sbaijal commented on #406
Hi @aditya109
Please assign this issue to me ..

[2021-10-02 20:15] mahmoudmohamed22 commented on #403
Could you assign this to me?

[2021-10-03 03:44] iamanshulgit commented on #398
Hi @aditya109 I have uploaded the task. Please merge my PR. Thank you

[2021-10-03 06:32] varnaa commented on #410
@aditya109 Hi, i'd like to work on this issue.

[2021-10-03 06:36] varnaa commented on #414
@aditya109 Hi, I'd love to work on this. Can you assign it to me ?

[2021-10-03 06:37] varnaa commented on #406
@aditya109  Can i work on this ?

[2021-10-03 06:38] varnaa commented on #409
@aditya109 Hi, can i work on this issue ?

[2021-10-03 11:17] NisargChokshi commented on #423
@aditya109 I have Added the solution for the given problem of Generate Parenthesis using JavaScript.

After referring and following the [Contributing Guildelines](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md), I have created a PR.

Please review and share your thoughts on the same.
https://github.com/aditya109/git-osp-for-beginners/pull/443

[2021-10-03 11:33] aditya109 commented on #431
This issue was solved by @dharshankumar2002, the PR was successfully merged !
Thereby, closing this PR !

[2021-10-03 11:33] #431 closed

[2021-10-03 11:37] aditya109 commented on #430
This issue was solved by @NisargChokshi, the PR was successfully merged !
Thereby, closing this PR !

[2021-10-03 11:37] #430 closed

[2021-10-03 11:50] NisargChokshi commented on #407
@aditya109 I have Added the solution for the given problem of Generate Parenthesis using JavaScript.

After referring and following the [Contributing Guidelines](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md), I have created a PR.

Please review and share your thoughts on the same.
#444

[2021-10-03 12:50] aditya109 commented on #440
Hi @tamal-kundu ! There is a label for that, which is given to PR once it is merged successfully.
Also, this is not required for your `Hacktoberfest` contribution to be counted as successful.
Closing this issue as it is not required.
Please re-open the issue if further clarification is required.

[2021-10-03 12:50] #440 closed

[2021-10-03 13:05] aditya109 commented on #398
Hi @iamanshulgit ! Please raise a fresh PR ! Your PR seems to be closed. https://github.com/aditya109/git-osp-for-beginners/pull/441

[2021-10-03 13:11] aditya109 opened #445 "Merge Sorted Array [C#-Solution required]"
You are given two integer arrays `nums1` and `nums2`, sorted in **non-decreasing order**, and two integers `m` and `n`, representing the number of elements in `nums1` and `nums2` respectively.

**Merge** `nums1` and `nums2` into a single array sorted in **non-decreasing order**.

The final sorted array should not be returned by the function, but instead be *stored inside the array* `nums1`. To acc

[2021-10-03 13:11] aditya109 opened #446 "Merge Sorted Array [C++-Solution required]"
You are given two integer arrays `nums1` and `nums2`, sorted in **non-decreasing order**, and two integers `m` and `n`, representing the number of elements in `nums1` and `nums2` respectively.

**Merge** `nums1` and `nums2` into a single array sorted in **non-decreasing order**.

The final sorted array should not be returned by the function, but instead be *stored inside the array* `nums1`. To acc

[2021-10-03 13:12] aditya109 opened #447 "Merge Sorted Array [C-Solution required]"
You are given two integer arrays `nums1` and `nums2`, sorted in **non-decreasing order**, and two integers `m` and `n`, representing the number of elements in `nums1` and `nums2` respectively.

**Merge** `nums1` and `nums2` into a single array sorted in **non-decreasing order**.

The final sorted array should not be returned by the function, but instead be *stored inside the array* `nums1`. To acc

[2021-10-03 13:12] aditya109 opened #448 "Merge Sorted Array [Golang-Solution required]"
You are given two integer arrays `nums1` and `nums2`, sorted in **non-decreasing order**, and two integers `m` and `n`, representing the number of elements in `nums1` and `nums2` respectively.

**Merge** `nums1` and `nums2` into a single array sorted in **non-decreasing order**.

The final sorted array should not be returned by the function, but instead be *stored inside the array* `nums1`. To acc

[2021-10-03 13:12] aditya109 opened #449 "Merge Sorted Array [Java-Solution required]"
You are given two integer arrays `nums1` and `nums2`, sorted in **non-decreasing order**, and two integers `m` and `n`, representing the number of elements in `nums1` and `nums2` respectively.

**Merge** `nums1` and `nums2` into a single array sorted in **non-decreasing order**.

The final sorted array should not be returned by the function, but instead be *stored inside the array* `nums1`. To acc

[2021-10-03 13:12] aditya109 opened #450 "Merge Sorted Array [Javascript-Solution required]"
You are given two integer arrays `nums1` and `nums2`, sorted in **non-decreasing order**, and two integers `m` and `n`, representing the number of elements in `nums1` and `nums2` respectively.

**Merge** `nums1` and `nums2` into a single array sorted in **non-decreasing order**.

The final sorted array should not be returned by the function, but instead be *stored inside the array* `nums1`. To acc

[2021-10-03 13:12] aditya109 opened #451 "Merge Sorted Array [Python-Solution required]"
You are given two integer arrays `nums1` and `nums2`, sorted in **non-decreasing order**, and two integers `m` and `n`, representing the number of elements in `nums1` and `nums2` respectively.

**Merge** `nums1` and `nums2` into a single array sorted in **non-decreasing order**.

The final sorted array should not be returned by the function, but instead be *stored inside the array* `nums1`. To acc

[2021-10-03 13:13] aditya109 opened #452 "Palindrome Number [C#-Solution required]"
Given an integer `x`, return `true` if `x` is palindrome integer.

An integer is a **palindrome** when it reads the same backward as forward. For example, `121` is palindrome while `123` is not.

**Example 1:**

[code]

**Example 2:**

[code]

**Example 3:**

[code]

**Example 4:**

[code]

**Constraints:**

- `-231 <= x <= 231 - 1`

Reference Link: [(1) Palindrome Number - LeetCode](

[2021-10-03 13:13] aditya109 opened #453 "Palindrome Number [C++-Solution required]"
Given an integer `x`, return `true` if `x` is palindrome integer.

An integer is a **palindrome** when it reads the same backward as forward. For example, `121` is palindrome while `123` is not.

**Example 1:**

[code]

**Example 2:**

[code]

**Example 3:**

[code]

**Example 4:**

[code]

**Constraints:**

- `-231 <= x <= 231 - 1`

Reference Link: [(1) Palindrome Number - LeetCode](

[2021-10-03 13:13] aditya109 opened #454 "Palindrome Number [C-Solution required]"
Given an integer `x`, return `true` if `x` is palindrome integer.

An integer is a **palindrome** when it reads the same backward as forward. For example, `121` is palindrome while `123` is not.

**Example 1:**

[code]

**Example 2:**

[code]

**Example 3:**

[code]

**Example 4:**

[code]

**Constraints:**

- `-231 <= x <= 231 - 1`

Reference Link: [(1) Palindrome Number - LeetCode](

[2021-10-03 13:14] aditya109 opened #455 "Palindrome Number [Golang-Solution required]"
Given an integer `x`, return `true` if `x` is palindrome integer.

An integer is a **palindrome** when it reads the same backward as forward. For example, `121` is palindrome while `123` is not.

**Example 1:**

[code]

**Example 2:**

[code]

**Example 3:**

[code]

**Example 4:**

[code]

**Constraints:**

- `-231 <= x <= 231 - 1`

Reference Link: [(1) Palindrome Number - LeetCode](

[2021-10-03 13:14] aditya109 opened #456 "Palindrome Number [Java-Solution required]"
Given an integer `x`, return `true` if `x` is palindrome integer.

An integer is a **palindrome** when it reads the same backward as forward. For example, `121` is palindrome while `123` is not.

**Example 1:**

[code]

**Example 2:**

[code]

**Example 3:**

[code]

**Example 4:**

[code]

**Constraints:**

- `-231 <= x <= 231 - 1`

Reference Link: [(1) Palindrome Number - LeetCode](

[2021-10-03 13:14] aditya109 opened #457 "Palindrome Number [Javascript-Solution required]"
Given an integer `x`, return `true` if `x` is palindrome integer.

An integer is a **palindrome** when it reads the same backward as forward. For example, `121` is palindrome while `123` is not.

**Example 1:**

[code]

**Example 2:**

[code]

**Example 3:**

[code]

**Example 4:**

[code]

**Constraints:**

- `-231 <= x <= 231 - 1`

Reference Link: [(1) Palindrome Number - LeetCode](

[2021-10-03 13:14] aditya109 opened #458 "Palindrome Number [Python-Solution required]"
Given an integer `x`, return `true` if `x` is palindrome integer.

An integer is a **palindrome** when it reads the same backward as forward. For example, `121` is palindrome while `123` is not.

**Example 1:**

[code]

**Example 2:**

[code]

**Example 3:**

[code]

**Example 4:**

[code]

**Constraints:**

- `-231 <= x <= 231 - 1`

Reference Link: [(1) Palindrome Number - LeetCode](

[2021-10-03 13:15] a-ayush19 commented on #456
@aditya109 can you assign this to me?

[2021-10-03 13:16] aditya109 opened #459 "Two Sum [C#-Solution required]"
Given a **1-indexed** array of integers `numbers` that is already ***sorted in non-decreasing order\***, find two numbers such that they add up to a specific `target` number. Let these two numbers be `numbers[index1]` and `numbers[index2]` where `1 <= first < second <= numbers.length`.

Return *the indices of the two numbers,* `index1` *and* `index2`*, as an integer array* `[index1, index2]` *of l

[2021-10-03 13:16] mani-rsg commented on #450
Hi @aditya109 , Can you please assign me?

[2021-10-03 13:16] Akanksha810 commented on #446
Can you please assign it to me?

[2021-10-03 13:16] aditya109 opened #460 "Two Sum [C++-Solution required]"
Given a **1-indexed** array of integers `numbers` that is already ***sorted in non-decreasing order\***, find two numbers such that they add up to a specific `target` number. Let these two numbers be `numbers[index1]` and `numbers[index2]` where `1 <= first < second <= numbers.length`.

Return *the indices of the two numbers,* `index1` *and* `index2`*, as an integer array* `[index1, index2]` *of l

[2021-10-03 13:18] aditya109 commented on #446
Hi @Akanksha810 ! Happy to receive contribution such early. I have assigned this issue to you.
Happy hacking ! 💕

[2021-10-03 13:19] aditya109 opened #461 "Two Sum [C-Solution required]"
Given a **1-indexed** array of integers `numbers` that is already ***sorted in non-decreasing order\***, find two numbers such that they add up to a specific `target` number. Let these two numbers be `numbers[index1]` and `numbers[index2]` where `1 <= first < second <= numbers.length`.

Return *the indices of the two numbers,* `index1` *and* `index2`*, as an integer array* `[index1, index2]` *of l

[2021-10-03 13:19] aditya109 opened #462 "Two Sum [Golang-Solution required]"
Given a **1-indexed** array of integers `numbers` that is already ***sorted in non-decreasing order\***, find two numbers such that they add up to a specific `target` number. Let these two numbers be `numbers[index1]` and `numbers[index2]` where `1 <= first < second <= numbers.length`.

Return *the indices of the two numbers,* `index1` *and* `index2`*, as an integer array* `[index1, index2]` *of l

[2021-10-03 13:19] aditya109 opened #463 "Two Sum [Java-Solution required]"
Given a **1-indexed** array of integers `numbers` that is already ***sorted in non-decreasing order\***, find two numbers such that they add up to a specific `target` number. Let these two numbers be `numbers[index1]` and `numbers[index2]` where `1 <= first < second <= numbers.length`.

Return *the indices of the two numbers,* `index1` *and* `index2`*, as an integer array* `[index1, index2]` *of l

[2021-10-03 13:19] aditya109 opened #464 "Two Sum [Javascript-Solution required]"
Given a **1-indexed** array of integers `numbers` that is already ***sorted in non-decreasing order\***, find two numbers such that they add up to a specific `target` number. Let these two numbers be `numbers[index1]` and `numbers[index2]` where `1 <= first < second <= numbers.length`.

Return *the indices of the two numbers,* `index1` *and* `index2`*, as an integer array* `[index1, index2]` *of l

[2021-10-03 13:19] Akanksha810 commented on #453
Can you please assign it to me?

[2021-10-03 13:20] aditya109 opened #465 "Two Sum [Python-Solution required]"
Given a **1-indexed** array of integers `numbers` that is already ***sorted in non-decreasing order\***, find two numbers such that they add up to a specific `target` number. Let these two numbers be `numbers[index1]` and `numbers[index2]` where `1 <= first < second <= numbers.length`.

Return *the indices of the two numbers,* `index1` *and* `index2`*, as an integer array* `[index1, index2]` *of l

[2021-10-03 13:20] mhechavarria commented on #463
may I pleas work on this?

[2021-10-03 13:21] Harsh-Modi278 commented on #460
Hi, can you please assign it to me?

[2021-10-03 13:21] aditya109 commented on #453
Hi @Akanksha810 ! Love to see such enthusiasm for open-source world.
I have assigned this issue to you as well. ❤
Have fun hacking !

[2021-10-03 13:22] Akanksha810 commented on #453
Thank you!

[2021-10-03 13:23] aditya109 opened #466 "Remove Duplicates from Sorted Array [C#-Solution required]"
Given an integer array `nums` sorted in **non-decreasing order**, remove the duplicates [**in-place**](https://en.wikipedia.org/wiki/In-place_algorithm) such that each unique element appears only **once**. The **relative order** of the elements should be kept the **same**.

Since it is impossible to change the length of the array in some languages, you must instead have the result be placed in the

[2021-10-03 13:23] aditya109 opened #467 "Remove Duplicates from Sorted Array [C++-Solution required]"
Given an integer array `nums` sorted in **non-decreasing order**, remove the duplicates [**in-place**](https://en.wikipedia.org/wiki/In-place_algorithm) such that each unique element appears only **once**. The **relative order** of the elements should be kept the **same**.

Since it is impossible to change the length of the array in some languages, you must instead have the result be placed in the

[2021-10-03 13:23] aditya109 opened #468 "Remove Duplicates from Sorted Array [C-Solution required]"
Given an integer array `nums` sorted in **non-decreasing order**, remove the duplicates [**in-place**](https://en.wikipedia.org/wiki/In-place_algorithm) such that each unique element appears only **once**. The **relative order** of the elements should be kept the **same**.

Since it is impossible to change the length of the array in some languages, you must instead have the result be placed in the

[2021-10-03 13:23] aditya109 opened #469 "Remove Duplicates from Sorted Array [Python-Solution required]"
Given an integer array `nums` sorted in **non-decreasing order**, remove the duplicates [**in-place**](https://en.wikipedia.org/wiki/In-place_algorithm) such that each unique element appears only **once**. The **relative order** of the elements should be kept the **same**.

Since it is impossible to change the length of the array in some languages, you must instead have the result be placed in the

[2021-10-03 13:23] aditya109 opened #470 "Remove Duplicates from Sorted Array [Javascript-Solution required]"
Given an integer array `nums` sorted in **non-decreasing order**, remove the duplicates [**in-place**](https://en.wikipedia.org/wiki/In-place_algorithm) such that each unique element appears only **once**. The **relative order** of the elements should be kept the **same**.

Since it is impossible to change the length of the array in some languages, you must instead have the result be placed in the

[2021-10-03 13:24] aditya109 opened #471 "Remove Duplicates from Sorted Array [Java-Solution required]"
Given an integer array `nums` sorted in **non-decreasing order**, remove the duplicates [**in-place**](https://en.wikipedia.org/wiki/In-place_algorithm) such that each unique element appears only **once**. The **relative order** of the elements should be kept the **same**.

Since it is impossible to change the length of the array in some languages, you must instead have the result be placed in the

[2021-10-03 13:25] aditya109 opened #472 "Remove Duplicates from Sorted Array [Golang-Solution required]"
Given an integer array `nums` sorted in **non-decreasing order**, remove the duplicates [**in-place**](https://en.wikipedia.org/wiki/In-place_algorithm) such that each unique element appears only **once**. The **relative order** of the elements should be kept the **same**.

Since it is impossible to change the length of the array in some languages, you must instead have the result be placed in the

[2021-10-03 13:27] alifsiregar commented on #470
Hi @aditya109, I would like to work on this issue. What do you think?

[2021-10-03 13:29] NidhiMalpani commented on #471
Hello. I would like to work on this issue. Could you please assign this to me?

[2021-10-03 13:30] Brkgng commented on #469
Can i work on this issue?

[2021-10-03 13:30] alifsiregar commented on #465
Hi @aditya109, I would also like to work on this issue. Is it ok?

[2021-10-03 13:33] aditya109 commented on #403
Hi @mahmoudmohamed22 ! Assigning this issue to you. As a PR for this is already merged, please create a separate file in the same folder. Refer to this PR https://github.com/aditya109/git-osp-for-beginners/pull/439 while raising your PR. Create a separate file in the same location.
Also, before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners

[2021-10-03 13:34] NidhiMalpani commented on #449
Hello. I would like to work on this issue. Could you please assign it to me?

[2021-10-03 13:36] alifsiregar commented on #457
Hi @aditya109, I want to work on this issue. What do you think?

[2021-10-03 13:36] NidhiMalpani commented on #458
Hello. I would like to work on this issue. Could you please assign it to me?

[2021-10-03 13:42] Abhishek07-0302 commented on #453
Hey, I would like to contribute. Kindly assign me if available.

[2021-10-03 13:53] Mayankjha997 commented on #469
Hello @aditya109 ,
I want to contribute in Python  please assign this issue to me.

[2021-10-03 13:53] NidhiNivedita6 commented on #468
Hello @aditya109,
Could you please assign this issue to me? I would like to work on it.

[2021-10-03 13:53] Mayankjha997 commented on #467
Hello @aditya109 ;
I want to contribute in C++, please assign this issue to me.

[2021-10-03 13:55] NidhiNivedita6 commented on #463
Hello @aditya109,
Could you please assign this issue to me? I would like to work on it.

[2021-10-03 14:03] rahulbhatt1899 commented on #452
Hey, I m interested in contributing to this issue.

[2021-10-03 14:05] rahulbhatt1899 commented on #445
Hey, I m interested to contribute to this issue.

[2021-10-03 14:06] hrittik2002 commented on #463
Hello, I would like to solve this problem. Could you please assign this to me?

[2021-10-03 14:07] rahulbhatt1899 commented on #459
Hey, I m interested in contributing to this issue.

[2021-10-03 14:08] KelseyJr commented on #464
Hi. I would like to work on this issue. Could you please assign this to me?

[2021-10-03 14:11] KelseyJr commented on #415
Hello. I would like to work on this issue. Could you please assign this to me?

[2021-10-03 14:21] vibhuvj27 commented on #461
Hi, Can you please assign this to me @aditya109

[2021-10-03 14:21] vibhuvj27 commented on #454
Hi, Can you please assign this issue to me @aditya109

[2021-10-03 14:26] NidhiNivedita6 commented on #454
Could you please assign this to me @aditya109

[2021-10-03 14:27] NidhiNivedita6 commented on #447
Could you please assign this to me @aditya109

[2021-10-03 14:32] NidhiNivedita6 commented on #456
Could you please assign this to me? @aditya109

[2021-10-03 14:34] thevibhu commented on #472
Can I take up this issue?

[2021-10-03 15:54] gauravbhasme commented on #469
Hello,
Can I work on this issue?

[2021-10-03 15:56] Vaishnavi-Markunde commented on #451
Hello , I would like to work on this issue, Could you please assign it to me?

[2021-10-03 16:04] Vaishnavi-Markunde commented on #420
Hello , I would like to work on this, please assign this issue to me

[2021-10-03 16:49] mani-rsg commented on #450
Have raised pull request for the same 😄

[2021-10-03 17:33] Hussnain47 commented on #457
Hi @aditya109, I want to work on this issue. Please assign this to me

[2021-10-04 04:35] nibble-4bits commented on #462
Hey @aditya109 could I work on this one?

[2021-10-04 06:03] Meghwantsingh commented on #453
Hello, can I also do this problem .

[2021-10-04 06:06] Meghwantsingh commented on #446
Hello , I would like to solve this problem .Can  I contribute .
And I am new to hack-toberfest and knew C/C++ only.

[2021-10-04 06:15] NidhiMalpani commented on #471
Can a PR be accepted even if it isn't assigned to that particular person?

[2021-10-04 06:30] AyushKoul00 commented on #467
I would like to write the c++ solution. Please Assign this issue to me

[2021-10-04 06:32] Amdbase1 commented on #467
@aditya109 Hi, I would like to contribute to this, Please assign this issue to me.

[2021-10-04 11:53] carlqt commented on #455
Can I try this?

[2021-10-04 13:26] nitishanand99 opened #481 "Two Sum [Kotlin-Solution required]"
Given a 1-indexed array of integers ``` numbers ``` that is already **sorted in non-decreasing order**, find two numbers such that they add up to a specific ``` target ``` number. Let these two numbers be ``` numbers[index1] ``` and ``` numbers[index2] ``` where  ``` 1 <= first < second <= numbers.length. ```

Return the indices of the two numbers, index1 and index2, as an integer array [index1, i

[2021-10-04 13:27] nitishanand99 commented on #481
Hi @aditya109! Can you please assign me this issue?

[2021-10-04 13:29] aditya109 commented on #481
Hi @nitishanand99 ! Happy to receive contribution such early. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo

[2021-10-04 19:03] devjak26 commented on #468
@aditya109 please assign me in c++

[2021-10-04 19:16] #446 closed

[2021-10-04 19:16] #481 closed

[2021-10-04 19:18] aditya109 commented on #453
Hi @Meghwantsingh @Abhishek07-0302 ! Happy to receive contribution such early. I have assigned this issue to you guys. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-04 19:23] aditya109 commented on #472
Hi @thevibhu ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-04 20:56] saumyakr1232 commented on #471
i would like to solve this problem, please assign me

[2021-10-04 20:59] saumyakr1232 commented on #466
i would like to solve this issue, please assign me.

[2021-10-05 03:07] Meghwantsingh commented on #453
Thanks . OK sure

[2021-10-05 05:37] abhirv08-1 commented on #464
@aditya109 Please assign it to me.

[2021-10-05 07:20] nitishanand99 opened #486 "Palindrome Number [Kotlin-Solution required]"
Given an integer ```x```, return ```true``` if ```x``` is palindrome integer.

An integer is a palindrome when it reads the same backward as forward. For example, ```121``` is palindrome while ```123``` is not.

Example 1:
[code]
Example 2:
[code]
Example 3:
[code]
Example 4:
[code]
Constraints:

- ```-231 <= x <= 231 - 1```

Reference Link: [(1) Palindrome Number - LeetCode](

[2021-10-05 07:21] nitishanand99 commented on #486
Hi @aditya109 ! Can I take up this issue?

[2021-10-05 14:32] aditya109 commented on #486
Hi @nitishanand99 ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 15:40] vansh-kapila commented on #463
#489  Added Two Sum JAVA.

[2021-10-05 16:20] aditya109 commented on #424
Hi @ItIsEntropy ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:20] aditya109 commented on #428
Hi @tamal-kundu ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:20] aditya109 commented on #427
Hi @tamal-kundu ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:21] aditya109 commented on #419
Hi @tamal-kundu ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:21] aditya109 commented on #418
Hi @pakosel ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:22] aditya109 commented on #425
hi @pakosel ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:24] #418 closed

[2021-10-05 16:24] #425 closed

[2021-10-05 16:25] aditya109 commented on #426
Hi @ayush523 @tamal-kundu !  I have assigned this issue to you both. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:28] aditya109 commented on #416
This issue was solved by @arihantthriwe , the PR was successfully merged ! Thereby, closing this issue !

[2021-10-05 16:28] #416 closed

[2021-10-05 16:28] aditya109 commented on #422
Hi @sbaijal !  have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:29] aditya109 commented on #410
Hi @varnaa !  have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:30] aditya109 commented on #414
Hi @sbaijal !  have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:33] aditya109 commented on #406
Hi @varnaa ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:34] aditya109 commented on #409
Hi @varnaa !  have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:35] #423 closed

[2021-10-05 16:36] aditya109 commented on #423
This issue was solved by @NisargChokshi , the PR was successfully merged ! Thereby, closing this issue !

[2021-10-05 16:38] aditya109 commented on #407
This issue was solved by @NisargChokshi , the PR was successfully merged ! Thereby, closing this issue !

[2021-10-05 16:41] aditya109 commented on #456
Hi @a-ayush19 !  I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:42] pcpriyankapc commented on #471
Please assign me this issue.,I know how to remove duplicated from sorted array in Java.
Thanks

[2021-10-05 16:42] pcpriyankapc commented on #471
I know how to remove duplicates from sorted array in Java, Please assign me this issue.

[2021-10-05 16:44] aditya109 commented on #456
Hi @NidhiNivedita6 ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring star the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:45] aditya109 commented on #457
Hi @alifsiregar ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:47] sbaijal commented on #414
ok sure @aditya109

[2021-10-05 16:48] aditya109 commented on #450
Hi @mani-rsg ! I have assigned this issue to you.
I maintain this repository as a hobby, and don't get much time for repo maintenance work apart from my full-time work.
I am sorry about getting back to you so late. Hope you understand.
Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution.

[2021-10-05 16:51] #450 closed

[2021-10-05 16:51] aditya109 commented on #450
This issue was solved by @mani-rsg , the PR was successfully merged ! Thereby, closing this issue !

[2021-10-05 16:52] aditya109 commented on #462
Hey @nibble-4bits ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 16:53] #462 closed

[2021-10-05 16:53] aditya109 commented on #462
This issue was solved by @nibble-4bits , the PR was successfully merged ! Thereby, closing this issue !

[2021-10-05 16:59] aditya109 commented on #397
This issue was solved by @Stellar-X , the PR was successfully merged ! Thereby, closing this issue !

[2021-10-05 16:59] #397 closed

[2021-10-05 16:59] aditya109 commented on #460
Hi @Harsh-Modi278 ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:04] ayush523 commented on #426
Hi @aditya109 ,for some reason I am not able to clone the repository.The error I am getting:
fatal: unable to checkout working tree
warning: Clone succeeded, but checkout failed.

[2021-10-05 17:05] aditya109 commented on #470
Hi @alifsiregar !  have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:05] aditya109 commented on #465
Hi @alifsiregar !  have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:06] aditya109 commented on #449
Hi @NidhiMalpani ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:07] aditya109 commented on #458
Hi @NidhiMalpani ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:08] aditya109 commented on #458
Hi @NidhiMalpani ! Assigning this issue to you. As a PR for this is already merged, please create a separate file in the same folder. Refer to this PR https://github.com/aditya109/git-osp-for-beginners/pull/475 while raising your PR. Create a separate file in the same location.

[2021-10-05 17:09] aditya109 commented on #452
Hi @rahulbhatt1899 ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:10] aditya109 commented on #445
Hi @rahulbhatt1899 ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:10] aditya109 commented on #415
Hi @KelseyJr ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:10] aditya109 commented on #461
Hi @vibhuvj27 ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:11] aditya109 commented on #454
Hi @vibhuvj27 ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:12] aditya109 commented on #454
Hi @NidhiNivedita6 ! You can still raise a PR for this issue. Just adhere to the CONTRIBUTING.md. Happy hacking !

[2021-10-05 17:13] aditya109 commented on #420
Hi @Vaishnavi-Markunde ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:15] aditya109 commented on #426
Hi @ayush523 ! Not sure what the issue is:
[code]

[2021-10-05 17:18] aditya109 commented on #471
Yes @NidhiMalpani ! You can raise a PR and it will still be counted as an open source contribution and Hacktoberfest entry.

[2021-10-05 17:20] aditya109 commented on #471
Hi guys ! Love to see such a great response ! Please raise PR for this issue. Will review and merge your PRs if it is correctly raised and written.

[2021-10-05 17:24] aditya109 commented on #463
Hi guys ! Love to see such enthusiasm ! You can all raise PR for this issue. Just adhere according to CONTRIBUTING.md. Happy Hacking guys !

[2021-10-05 17:26] aditya109 commented on #463
Reopening this issue for other contributors !

[2021-10-05 17:27] ayush523 commented on #426
I have opened a discussion

[2021-10-05 17:28] aditya109 commented on #426
Let a comment on the same. Please check @ayush523 !

[2021-10-05 17:31] ayush523 commented on #426
I am able to clone now.Thanks

[2021-10-05 17:35] aditya109 commented on #453
Reopening this issue for other contributors.

[2021-10-05 17:36] aditya109 commented on #464
Hi @KelseyJr ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:37] aditya109 commented on #464
Hi @abhirv08-1 ! You can still raise PR for this issue. Just adhere to CONTRIBUTING.md and do your changes.
Your PR will be reviewed and merged if you'd have done everything correctly. Happy hacking !

[2021-10-05 17:40] #426 closed

[2021-10-05 17:40] aditya109 commented on #426
This issue was solved by @ayush523 , the PR was successfully merged ! Thereby, closing this issue

[2021-10-05 17:41] aditya109 commented on #466
Hi @saumyakr1232 ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:42] aditya109 commented on #447
HI @NidhiNivedita6 ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:43] aditya109 commented on #468
Hello @devjak26 ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:44] aditya109 commented on #455
HI @carlqt ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:47] aditya109 commented on #455
This issue was solved by @carlqt , the PR was successfully merged ! Thereby, closing this issue !

[2021-10-05 17:55] #455 closed

[2021-10-05 17:55] aditya109 commented on #467
Hi @Mayankjha997 ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:56] aditya109 commented on #467
Hi @AyushKoul00 @Amdbase1 ! You can still raise PR for this issue. Just adhere to CONTRIBUTING.md and do your changes.
Your PR will be reviewed and merged if you'd have done everything correctly. Happy hacking !

[2021-10-05 17:56] aditya109 commented on #451
Hi @Vaishnavi-Markunde ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:57] aditya109 commented on #469
Hi @Brkgng ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-05 17:58] aditya109 commented on #469
Hi @Mayankjha997 ! Assigning this issue to you. As a PR for this is already merged, please create a separate file in the same folder. Refer to this PR https://github.com/aditya109/git-osp-for-beginners/pull/474 while raising your PR. Create a separate file in the same location.

[2021-10-05 17:59] aditya109 commented on #469
HI @gauravbhasme ! You can still raise PR for this issue. Just adhere to CONTRIBUTING.md and do your changes.
Your PR will be reviewed and merged if you'd have done everything correctly. Happy hacking !

[2021-10-05 18:13] vansh-kapila commented on #419
I have written the code for the issue in the required language. Kindly have a look at it. #495

[2021-10-06 00:58] KelseyJr commented on #464
@aditya109 There is a folder with this name. Can I make a PR, or nevermind?

[2021-10-06 04:05] saumyakr1232 commented on #466
i have submitted the PR and you merged it, thank you

[2021-10-06 04:52] aditya109 commented on #456
Reopening this issue for other contributors !

[2021-10-06 04:53] aditya109 commented on #419
Reopening this issue for other contributors !

[2021-10-06 04:54] aditya109 commented on #460
This issue was solved by @Harsh-Modi278 , the PR was successfully merged ! Thereby, closing this PR !

[2021-10-06 04:54] #460 closed

[2021-10-06 04:57] #451 closed

[2021-10-06 04:58] aditya109 commented on #451
This issue was solved by @Vaishnavi-Markunde , the PR was successfully merged ! Thereby, closing this issue  !

[2021-10-06 05:00] aditya109 commented on #464
Hi @KelseyJr ! Just check in the JavaScript folder if you find a folder with this problem create a separate file in the same location, else if not present, create the folder with the above problem name and place your file there. Happy hacking ! :)

[2021-10-06 05:03] aditya109 commented on #466
This issue was solved by @saumyakr1232 the PR was successfully merged ! Thereby, closing this PR !

[2021-10-06 05:03] #466 closed

[2021-10-06 06:30] alifsiregar commented on #465
Hi @aditya109, I noticed that the folder alongside the file for the Two Sum (Python) problem already exists in the Programming folder. Should I just make a new folder? If you have any other alternatives, please do tell me!

[2021-10-06 18:51] aditya109 commented on #468
HI @NidhiNivedita! Happy to receive contribution such early. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo p

[2021-10-06 20:30] #471 closed

[2021-10-07 07:03] ameeet commented on #459
I would like to help, can you assign me?

[2021-10-07 08:46] SaloniK17 commented on #463
Hello,, I would like to solve this problem. Could you please assign this to me?
Thank You.

[2021-10-07 09:28] Priyanshu-792 commented on #461
sir I have sent you the pull request after solving the said issue of #461 which was solving the two sum in C language .....kindly merge it @aditya109

[2021-10-07 14:41] Hariprasad19036 commented on #424
Hey, Can I work on this issue under the hacktoberfest label? I have also starred this repo!

[2021-10-10 02:40] akankshatyagiat commented on #429
Hi, i would like to work on it too! :)

[2021-10-10 04:49] aditya109 commented on #472
This issue was solved by @thevibhu, the PR was successfully merged !
Thereby, closing this issue !

[2021-10-10 04:49] #472 closed

[2021-10-10 04:56] #420 closed

[2021-10-10 04:56] aditya109 commented on #420
This issue was solved by @Vaishnavi-Markunde , the PR was successfully merged !
Thereby, closing this issue !

[2021-10-10 05:13] aditya109 commented on #429
As it has been 8 days and no response from the previous assignee, hence clearing the assignee @HatimTai1 ! 💔

[2021-10-10 05:16] #464 closed

[2021-10-10 05:16] aditya109 commented on #464
This issue was solved by @KelseyJr , the PR was successfully merged !
Thereby, closing this issue !

[2021-10-10 05:18] aditya109 commented on #406
Hi @nobita851 ! I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo popularity and guide more people towards activ

[2021-10-10 05:24] aditya109 commented on #410
Hi @Kevinjadia ! Sure thing. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo popularity and guide more people

[2021-10-10 05:27] Sheikh-Yawar commented on #461
Hi, bro can i work on this problem @aditya109

[2021-10-10 05:32] aditya109 commented on #461
As it has been 8 days and no response from the previous assignee, hence clearing the assignee @vibhuvj27 ! 💔

[2021-10-10 05:32] aditya109 commented on #461
Reopening this issue for other contributors !

[2021-10-10 05:33] aditya109 commented on #461
Hi @Sheikh-Yawar ! Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
As a PR for this issue has already been raised, please create a file in the same pre-existing folder.
Refer to the linked merged PR #514.
Also, if it is not too much to ask, please consider starring [⭐](https://em

[2021-10-10 05:34] harshitcodes1 commented on #409
@aditya109  Hi, can I work on this issue? Please

[2021-10-10 05:37] aditya109 commented on #409
Hi @harshitcodes1 ! Sure thing. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo popularity and guide more peop

[2021-10-10 05:40] Sheikh-Yawar commented on #447
Hey, can I work on this issue

[2021-10-10 05:40] #408 closed

[2021-10-10 05:44] aditya109 commented on #408
This issue was solved by @mgndolan, the PR was successfully merged !
Thereby, closing this issue !

[2021-10-10 05:46] aditya109 commented on #457
This issue was solved by @alifsiregar , the PR was successfully merged !
Thereby, closing this issue !

[2021-10-10 05:48] aditya109 commented on #463
Hi @SaloniK17 ! Sure thing. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo popularity and guide more people t

[2021-10-10 05:49] aditya109 commented on #459
Hi @rahulbhatt1899 @ameeet ! Sure thing. I have assigned this issue to you guys.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo popularity and g

[2021-10-10 05:50] aditya109 commented on #424
As it has been 8 days and no response from the previous assignee, hence clearing the assignee @ItIsEntropy ! 💔

[2021-10-10 05:50] aditya109 commented on #424
Hi @Hariprasad19036 ! Sure thing. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo popularity and guide more pe

[2021-10-10 05:52] aditya109 commented on #449
This issue was solved by @NidhiMalpani , the PR was successfully merged !
Thereby, closing this issue !

[2021-10-10 05:52] #449 closed

[2021-10-10 05:55] aditya109 commented on #447
As it has been >7 days and no response from the previous assignee, hence clearing the assignee @NidhiNivedita6 ! 💔

[2021-10-10 05:58] aditya109 commented on #461
This issue was solved by @Priyanshu-792 @Sheikh-Yawar , the PR was successfully merged !
Thereby, closing this issue !

[2021-10-10 05:58] #461 closed

[2021-10-10 05:58] aditya109 commented on #447
This issue was solved by @Sheikh-Yawar , the PR was successfully merged !
Thereby, closing this issue !

[2021-10-10 05:58] #447 closed

[2021-10-10 06:09] aditya109 commented on #398
As it has been 8 days and no response from the previous assignee, hence clearing the assignee @iamanshulgit ! 💔

[2021-10-10 06:12] aditya109 commented on #403
As it has been 8 days and no response from the previous assignee, hence clearing the assignee @mahmoudmohamed22 ! 💔

[2021-10-10 06:14] aditya109 commented on #419
As it has been 8 days and no response from the previous assignee, hence clearing the assignee @tamal-kundu ! 💔

[2021-10-10 06:15] aditya109 commented on #427
As it has been 8 days and no response from the previous assignee, hence clearing the assignee @tamal-kundu ! 💔

[2021-10-10 06:16] aditya109 commented on #467
As it has been 8 days and no response from the previous assignee, hence clearing the assignee @Mayankjha997 ! 💔

[2021-10-10 07:29] aditya109 commented on #467
Hi @AyushKoul00 ! You can't leave your code here. Please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines. Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo popularity and guide more people towards active contribution. That i

[2021-10-10 07:30] aditya109 commented on #467
Also, if you need more help please raise your concern in discussions so that any one of the contributors reach out to you.  https://github.com/aditya109/git-osp-for-beginners/discussions/categories/general

[2021-10-10 07:32] aditya109 commented on #456
This issue was solved by @Brkgng @a-ayush19 @KholoodS , the PR was successfully merged !
Thereby, closing this issue !

[2021-10-10 07:32] #456 closed

[2021-10-10 11:44] MashTerro commented on #421
I want to work on this issue could you please assign me

[2021-10-10 12:08] MashTerro commented on #453
@aditya109 I want to work on this issue can you please assign me

[2021-10-10 12:15] MashTerro commented on #419
@aditya109 I also want to work on this issue can you please assign me?

[2021-10-12 01:30] harshitcodes1 commented on #398
@aditya109 Hi, can I work on this issue? Please

[2021-10-12 15:41] aditya109 commented on #422
As it has been 7 days and no response from the previous assignee, hence clearing the assignee @sbaijal ! 💔

[2021-10-12 15:42] aditya109 commented on #422
Hi @akankshatyagiat ! Sure thing. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo popularity and guide more pe

[2021-10-12 15:43] aditya109 commented on #414
As it has been 7 days and no response from the previous assignee, hence clearing the assignee @sbaijal ! 💔

[2021-10-12 15:48] #486 closed

[2021-10-12 15:55] aditya109 commented on #399
Hi @pranjalg13 ! I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo popularity and guide more people towards acti

[2021-10-12 15:56] aditya109 commented on #398
Hi @aditya109 ! Sure thing. I have assigned this issue to you.
Before raising a PR, please take a look at [CONTRIBUTING.md](https://github.com/aditya109/git-osp-for-beginners/blob/master/CONTRIBUTING.md) and follow the guidelines.
Also, if it is not too much to ask, please consider starring [⭐](https://emojipedia.org/star/) the repository. It helps boost the repo popularity and guide more people t

[2021-10-12 16:14] pranjalg13 commented on #399
Hey @aditya109 , please check the PR once. Added all the necessary changes

[2021-10-12 16:42] harshitcodes1 commented on #409
Please check I have changed the extension of the file. #530

[2021-10-12 16:52] pranjalg13 commented on #424
Hey, @aditya109 can you please review the PR, added the solution for it.

[2021-10-12 18:11] pranjalg13 commented on #421
Hey, @aditya109 I am taking this since recently started learning GO , might be helpful to practice :).

[2021-10-14 02:39] harshitcodes1 commented on #398
#555 Please check my PR.

[2021-10-14 03:49] #421 closed

[2021-10-14 03:53] #422 closed

[2021-10-14 04:04] #419 closed

[2021-10-14 04:07] aditya109 commented on #459
Hi @ameeet ! I have reviewed your pull request. PTAL at my comment on it and fix them.

[2021-10-14 04:08] aditya109 commented on #459
Also, as you seem to be interested in the solving this issue, I am assigning this you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !

[2021-10-14 04:12] aditya109 commented on #398
Hi @harshitcodes1 ! https://github.com/aditya109/git-osp-for-beginners/pull/555#pullrequestreview-779291081 Please check my comment on your PR.

[2021-10-14 04:13] aditya109 commented on #463
Hi @auchitya ! I have assigned this issue to you. Before raising a PR, please take a look at CONTRIBUTING.md and follow the guidelines. Also, if it is not too much to ask, please consider starring ⭐ the repository. It helps boost the repo popularity and guide more people towards active contribution. That is all. Happy hacking !